<section class="navigation_menu">
    <div class="navigation_menu__content">
        <div class="angle1 angle"></div>
        <div class="angle2 angle"></div>
        <p>navigation</p>
        <ul>
            <li>
            <span>
                01
            </span>
                <a>services</a>
            </li>
            <li>
            <span>
                02
            </span>
                <a href="/projects/">PROJEKTE</a>
            </li>
            <li>
            <span>
                03
            </span>
                <a>ÜBER UNS</a>
            </li>
            <li>
            <span>
                04
            </span>
                <a href="https://codezilla.consulting/webmail/">WEBMAIL</a>
            </li>
            <li>
                {% include 'components/icons/shop.html' %}
                <a href="https://softzilla.de/">shop</a>
            </li>
        </ul>
        <div class="navigation_menu__doc">
            <a href="/imprint/">iMPRESSUM</a>
            <a href="/data-protection/">DATENSCHUTZ</a>
        </div>
        <div class="mobile info">
            <span>Codezilla IT-Consulting GmbH</span>
            <span>Kesselbergweg 4, 52385 Nideggen</span>
            <p>T:<a href="tel:+4917012345678">+49 170 12345678</a></p>
            <p>M:<a href="mailto:info@codezilla.consulting">info@codezilla.consulting</a></p>
            <div class="info__icons">
                {% include 'components/icons/header/inst.html' %}
                {% include 'components/icons/header/in.html' %}
                {% include 'components/icons/header/whatsapp.html' %}
            </div>
        </div>
        <div class="navigation_menu__footer">
            <a href="tel:+4917012345678">Call buchen</a>
            <a>ANRUFEN</a>
            <div class="angle3 angle"></div>
            <div class="angle4 angle"></div>
        </div>
        <button class="cancel_icon"></button>
    </div>
</section>