<section class="notice container">
    <div class="notice-title">AGB</div>
    <div class="notice-content">
        <div class="notice-text_block">
            <p>Angaben gemäß § 5 TMG</p>
            <div class="notice-text_block-description">
                <p>1. Geltungsbereich</p>
                Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Nutzer der Webseite [Webseitenname] sowie
                für alle Leads, die über
                die Webseite durch das Ausfüllen von Formularen erhoben werden. Sie gelten für Verträge mit Verbrauchern
                (B2C) und Unternehmen
                (B2B), die Interesse an Solaranlagen zeigen und ihre Daten über die Webseite angeben.
                <br><br>

                <p>2. Leistungen</p>
                2.1. Lead-Generierung<br> Die Webseite dient der Generierung von Leads (Interessenten), die sich für
                Solaranlagen interessieren. Nutzer der Webseite können
                über ein Formular ihre Kontaktdaten hinterlassen, um Angebote und Informationen über Solaranlagen zu
                erhalten. <br>

                2.2. Beratung und Vertrieb von Solaranlagen <br>Die erhobenen Daten können von Florian Cretulescu für
                die Kontaktaufnahme genutzt werden, um Beratungsleistungen anzubieten
                oder Angebote für den Vertrieb von Solaranlagen zu unterbreiten. <br>
                2.3. Weitergabe an Dritte <br>Mit der Einwilligung des Nutzers können die erhobenen Daten auch an
                spezialisierte Partnerunternehmen weitergegeben werden, die
                die Nutzer kontaktieren, um ihnen weitere Informationen, Beratungen und Angebote zu Solaranlagen zu
                unterbreiten.
                <br><br>

                <p>3. Datenerhebung und Einwilligung</p>
                3.1. Erhebung personenbezogener Datenbr <br> Durch das Ausfüllen und Absenden des Formulars auf der
                Webseite erklärt sich der Nutzer mit der Erhebung und Verarbeitung seiner
                angegebenen personenbezogenen Daten einverstanden. Zu den erhobenen Daten gehören unter anderem: Name,
                Adresse,
                Telefonnummer, E-Mail-Adresse, sowie spezifische Informationen zum Solarprojekt des Nutzers. <br>
                3.2. Einwilligung zur Datenverarbeitung <br>Mit dem Absenden des Formulars erklärt sich der Nutzer
                ausdrücklich damit einverstanden, dass seine Daten zur Kontaktaufnahme
                durch Florian Cretulescu verwendet werden, um ihm Beratung und Angebote zu Solaranlagen zu unterbreiten.
                Außerdem erklärt sich
                der Nutzer damit einverstanden, dass seine Daten zur Lead-Generierung und Weitergabe an Dritte
                (Partnerunternehmen) verwendet
                werden dürfen. <br><br>

                <p>4. Vertragsabschluss</p>
                Der Vertrag zwischen dem Nutzer und Florian Cretulescu kommt zustande, sobald der Nutzer das Formular
                auf der Webseite ausfüllt
                und absendet. Der Nutzer erklärt sich mit diesen AGB einverstanden, indem er das entsprechende Kästchen
                auf dem Formular aktiv
                bestätigt. <br><br>

                <p>5. Widerrufsrecht</p>
                5.1. Widerrufsrecht für Verbraucher <br> Nutzer, die als Verbraucher (B2C) agieren, haben das Recht,
                innerhalb von 14 Tagen ohne Angabe von Gründen ihre Einwilligung zur Verarbeitung ihrer Daten zu
                widerrufen. Der Widerruf kann per E-Mail an info(at)solar-best.de erfolgen. <br>
                5.2. Folgen des Widerrufsbr <br>Nach Eingang des Widerrufs werden die personenbezogenen Daten des
                Nutzers unverzüglich gelöscht, es sei denn, es bestehen gesetzliche Aufbewahrungspflichten.
                <br><br>

                <p>6. Haftung</p>
                6.1. Haftungsausschluss für Informationen <br>Florian Cretulescu übernimmt keine Garantie für die
                Richtigkeit, Vollständigkeit oder Aktualität der von Dritten zur Verfügung gestellten Informationen oder
                Angebote, die an den Nutzer übermittelt werden. <br>
                6.2. Haftungsbeschränkung <br>Die Haftung von Florian Cretulescu ist auf Vorsatz und grobe Fahrlässigkeit
                beschränkt. Für einfache Fahrlässigkeit haftet Florian Cretulescu nur bei der Verletzung wesentlicher
                Vertragspflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst
                ermöglicht. <br><br>

                <p>7. Preise und Zahlungen</p>
                Für die Nutzer der Webseite ist die Erhebung ihrer Daten kostenlos. Florian Cretulescu behält sich
                jedoch das Recht vor, Leads an Drittunternehmen weiterzuverkaufen. Nutzer werden hierfür nicht zur Kasse
                gebeten. <br><br>

                <p>8. Datenschutz</p>
                Für die Verarbeitung personenbezogener Daten gilt die Datenschutzerklärung, die auf der Webseite
                zugänglich ist. Der Schutz der Daten erfolgt nach den geltenden Datenschutzvorschriften, insbesondere
                der DSGVO. <br><br>

                <p>9. Schlussbestimmungen</p>
                9.1. Gerichtsstand <br>Für alle Streitigkeiten aus oder im Zusammenhang mit diesen AGB ist der Gerichtsstand
                Frankfurt am Main. <br>
                9.2. Anwendbares Recht <br>Es gilt das Recht der Bundesrepublik Deutschland unter Ausschluss des
                UN-Kaufrechts (CISG). <br><br>

                Wenn Sie Ihre Einwilligung widerrufen möchten, können Sie dieses Formular ausfüllen und an uns
                zurücksenden: <br><br>

                An: <br> Florian Cretulescu <br>Mörfelder Landstraße 64 <br>60598 Frankfurt am Main <br>E-Mail: info(at)solar-best.de
                <br><br>

                Hiermit widerrufe(n) ich/wir die Einwilligung zur Verarbeitung meiner/unserer personenbezogenen Daten.
                <br>
                Name des Verbrauchers: <br><br>
                Anschrift des Verbrauchers: 
                Datum: <br><br>
                Unterschrift (nur bei Mitteilung auf Papier):
            </div>
        </div>
    </div>
</section>