<div class="footer">
    <div class="footer__content container">
        {#        {% include 'components/icons/Logo2.html' %}#}
        <div class="footer__logo">
            <img src="{{ url_for('static', filename='images/logo-footer.svg') }}" alt="">
            <span>PHOTOVOLTAIK VOM FACHMANN</span>
        </div>
        <div class="footer__content-description">
            Ihr Partner für Photovoltaik. Senken Sie Energiekosten, steigern Sie Ihre Unabhängigkeit und schützen Sie
            die Umwelt.
        </div>
        <div class="footer__content-info">
            <a href="/agb/">AGB</a>
            <a href="/imprint/">Impressum</a>
            <a href="/data-protection/">Datenschutz</a>
        </div>
    </div>
</div>