<section id="popup" style="display: none">
    <div class="mask" onclick="close_popup()">
    </div>
    <div class="mask__content">
        <div class="mobile-del" style="height: 164px; width: 164px; margin-right: 48px;">
            <span class="check"></span>
        </div>
        <div class="mask__content__text">
            <p>Anfrage erhalten</p>
            <div class="mobile" style="height: 164px; width: 164px; margin-right: 48px;">
                <span class="check"></span>
            </div>
            Wir werden uns in Kürze mit Ihnen in Verbindung setzen, um Ihre individuellen Bedürfnisse zu besprechen.
            Wir freuen uns darauf, Sie auf Ihrem Weg zu einer nachhaltigeren Energieversorgung zu begleiten.
        </div>
        <span class="cancel" onclick="close_popup()"></span>
    </div>
</section>