<section class="notice container ">
    <div class="notice-title">IMPRESSUM</div>
    <div class="notice-content">
        <div class="notice-text_block">
            <p>Angaben gemäß § 5 TMG</p>
            <div class="notice-text_block-description">
            <span>
                Florian Cretulescu Mörfelder Landstraße 64
                60598 Frankfurt am Main
            </span>
                Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und Mittel der
                Verarbeitung von personenbezogenen Daten (z.B. Namen, Kontaktdaten o. Ä.).
            </div>
        </div>
        <div class="notice-text_block">
            <p>Kontakt</p>
            <div class="notice-text_block-description">
                <div class="notice-text_block-contact">
                    <span>Telefon: </span>&nbsp;
                    <a href="tel:+49173741801">+49 (0) 173 741801</a>
                </div>
                <div class="notice-text_block-contact">
                    <span>E-Mail: </span>&nbsp;
                    <a href="mailto:info@ffm-promotion.com">info@ffm-promotion.com</a>
                </div>
            </div>

        </div>
        <div class="notice-text_block">
            <p>Registereintrag</p>
            <div class="notice-text_block-description">
                Eintragung im Registergericht: Amtsgericht Frankfurt am am Main <br>
                Registernummer: HRA 47914 <br>
                Steuernummer: 1281039463
            </div>
        </div>
        <div class="notice-text_block">
            <p>Umsatzsteuer- Identifikationsnummer</p>
            <div class="notice-text_block-description">
                DE321102104 <br>
                gemäß §27 a Umsatzsteuergesetz
            </div>
        </div>
    </div>
</section>