<section class="call-to-action container">
    <div class="main__offer-item">
        <div class="main__offer-item-header">
            Kostenlose Beratung buchen
        </div>
        <div class="main__offer-item-title">
            SOLARANLAGEN <br>MIT STROM-SPEICHER
        </div>
        <div class="main__offer-item-content">
            <div class="main__offer-item-content-description">
                Investieren Sie in die Zukunft Ihres Zuhauses und reduzieren Sie Energiekosten
            </div>
            <ul class="main__offer-item-features">

                <li class="main__offer-item-feature"><span class="bullet"></span>Ohne Anzahlung</li>
                <li class="main__offer-item-feature"><span class="bullet"></span>Made in Germany</li>
                <li class="main__offer-item-feature"><span class="bullet"></span>Alles aus einer Hand</li>
                <li class="main__offer-item-feature"><span class="bullet"></span><span>Installation innerhalb</span>8-12
                    Wochen
                </li>
                <li class="main__offer-item-feature"><span class="bullet"></span>30 Jahre Garantie</li>
                <li class="main__offer-item-feature"><span class="bullet"></span>Auch Schieferdächer</li>
            </ul>
            <a href="#call-to-action" class="main__offer-item-button mobile-del">Beratung buchen</a>
            <div class="main__offer-item-note">
                <span class="check-icon"></span>100% kostenlos und unverbindlich
            </div>
        </div>
    </div>
    <div id="call-to-action" class="call-to-action__form">
        <div class="call-to-action__form-header">
            Buchen Sie jetzt eine <br>
            kostenlose Beratung vor Ort
        </div>
        <form id="formBody" class="call-to-action__form-body">
            <div class="call-to-action__form-section" id="validation-form">
                <div class="select">
                    <select id="sex" name="sex" class="required-select">
                        <option value="" disabled selected></option>
                        <option value="Frau">Frau</option>
                        <option value="Herr">Herr</option>
                    </select>
                    <label for="sex">Anrede</label>
                </div>
                <div class="input">
                    <input type="text" id="Vorname*" name="surname" placeholder="&nbsp;"
                           class="required-input">
                    <label for="Vorname*">Vorname</label>
                </div>
                <div class="input">
                    <input type="text" id="Name*" name="name" placeholder="&nbsp;"
                           class="required-input">
                    <label for="Name*">Nachname</label>
                </div>
                <div class="input">
                    <input type="text" id="Strasse und Hausnr.*" name="street_and_house" placeholder="&nbsp;"
                           class="required-input">
                    <label for="Strasse und Hausnr.*">Strasse und Hausnr.</label>
                </div>
                <div class="input">
                    <input type="text" id="PLZ*" name="postcode" placeholder="&nbsp;"
                           class="required-input">
                    <label for="PLZ*">Postleitzahl</label>
                </div>
                <div class="input">
                    <input type="text" id="Ort" name="city" placeholder="&nbsp;"
                           class="required-input">
                    <label for="Ort">Ort </label>
                </div>
                <div class="input">
                    <input type="text" id="Mail" name="email" placeholder="&nbsp;"
                           class="required-input">
                    <label for="Mail">E-Mail</label>
                </div>
                <div class="input">
                    <input type="text" id="Telefonnummer*" name="phone" placeholder="&nbsp;"
                           class="required-input">
                    <label for="Telefonnummer*">Telefonnummer</label>
                </div>
                <div class="select">
                    <select id="type_real_estate" name="type_real_estate">
                        <option value="" disabled selected></option>
                        <option value="Gewerblich">Gewerblich</option>
                        <option value="Privat">Privat</option>
                    </select>
                    <label for="type_real_estate">Immobilienart</label>
                </div>
                <div class="select">
                    <select id="building_type" name="building_type">
                    </select>
                    <label for="building_type">Gebäudetyp</label>
                </div>
                <div class="select">
                    <select id="how_do_you_heat" name="how_do_you_heat">
                        <option value="" disabled selected></option>
                        <option value="Wärmepumpe">Wärmepumpe</option>
                        <option value="Gas">Gas</option>
                        <option value="Öl">Öl</option>
                    </select>
                    <label for="how_do_you_heat">Heizart</label>
                </div>
                <div class="input">
                    <input type="text" id="consumption" name="consumption" placeholder="&nbsp;"
                           class="required-input">
                    <label for="consumption">Strom-Jahresverbrauch</label>
                </div>
                <div class="select">
                    <select id="roof_shape" name="roof_shape">
                        <option value="" disabled selected></option>
                        <option value="Satteldach">Satteldach</option>
                        <option value="Schieferdach">Schieferdach</option>
                        <option value="Walmdach">Walmdach</option>
                        <option value="Mansarddach">Mansarddach</option>
                        <option value="Flachdach">Flachdach</option>
                        <option value="Pultdach">Pultdach</option>
                        <option value="Zeltdach">Zeltdach</option>
                        <option value="Sheddach">Sheddach</option>
                        <option value="Tonnendach">Tonnendach</option>
                        <option value="Krüppelwalmdach">Krüppelwalmdach</option>
                        <option value="Kegeldach">Kegeldach</option>
                    </select>
                    <label for="roof_shape">Dachform</label>
                </div>
                <div class="select">
                    <select id="start_construction" name="start_construction">
                        <option value="" disabled selected></option>
                        <option value="1-3 Monate">1-3 Monate</option>
                        <option value="3-6 Monate">3-6 Monate</option>
                        <option value="6-12 Monate">6-12 Monate</option>
                    </select>
                    <label for="start_construction">Baubeginn</label>
                </div>
                <div class="textarea">
                    <textarea id="description" name="description" placeholder="&nbsp;" cols="30"
                              rows="10"></textarea>
                    <label for="description">Geben Sie ggf. eine Nachricht ein</label>
                </div>
            </div>
            <div class="call-to-action__form-boxButton">
                <button id="submitButton" type="submit">
                    Absenden
                </button>
                <div class="main__offer-item-note mobile">
                    <span class="check-icon"></span>100% kostenlos und unverbindlich
                </div>
                <div>
                    <div class="checkbox">
                        <input id="accountOwnerDisabled"
                               type="checkbox">
                        <label onclick="checkbox()" id="checkbox_label" for="accountOwnerDisabled"></label>
                    </div>
                    {#                    <input id="Checkbox" type="checkbox">#}
                    <p>Ich stimme der Verarbeitung meiner Daten gemäß der
                        <a href="/data-protection/">Datenschutzerklärung</a> zu. <br> Ich kann meine Einwilligung
                        jederzeit widerrufen.*
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="call-to-action__block-text mobile">
        <p>Sonnenenergie effizient nutzen - Steigern mit uns Sie Ihre Vorteile.</p>
        In Deutschland gehören Photovoltaik-anlagen mittlerweile zum gewohnten Stadtbild: Viele Dächer sind mit den
        charakteristischen, grauen Paneelen bedeckt, die Sonnenlicht in Energie umwandeln. Der Umstieg auf Solarenergie
        wirft jedoch viele Fragen auf:
        Wie funktioniert das System? Welche Vorteile bietet es? Was kostet die Anschaffung? Mit uns an Ihrer Seite ist
        der Wechsel besonders lohnenswert: Wir beantworten alle Ihre Fragen und entwickeln gemeinsam die perfekte Lösung
        für Ihre Bedürfnisse.
    </div>
    <div class="call-to-action__advantages">
        <div class="call-to-action__advantages-box">
            <div class="call-to-action__advantages-box-title">
                Rundum-Service
            </div>
            <div class="call-to-action__advantages-box-description">
                Bei uns steht Ihre Zufriedenheit an erster Stelle. Wir begleiten Sie von der ersten Beratung bis zur
                fertigen Installation und bieten umfassenden Service auch danach.
            </div>
        </div>
        <div class="call-to-action__advantages-box">
            <div class="call-to-action__advantages-box-title">
                Energiekosten senken
            </div>
            <div class="call-to-action__advantages-box-description">
                Sparen Sie dauerhaft Energiekosten
                und profitieren Sie von einer höheren Unabhängigkeit gegenüber den ständig schwankenden und
                unvorhersehbaren Energiepreisen.
            </div>
        </div>
        <div class="call-to-action__advantages-box">
            <div class="call-to-action__advantages-box-title">
                Umweltfreundlich <br> und zukunftssicher
            </div>
            <div class="call-to-action__advantages-box-description">
                Mit Solarenergie tragen Sie aktiv zum Umweltschutz bei und sichern eine nachhaltige Energieversorgung
                für
                die Zukunft.
            </div>
        </div>
        <div class="call-to-action__advantages-box mobile-del">
            <img src="/static/images/mockup1.jpg" alt="">
        </div>
        <div class="call-to-action__advantages-box mobile-del">
            <img src="/static/images/mockup2.jpg" alt="">
        </div>
    </div>
</section>
<div class="call-to-action__block-button mobile">
    <p>Neugierig? Dann buchen Sie jetzt ein unverbindliches Beratungsgespräch</p>
    <a href="#call-to-action">Beratung buchen</a>
</div>