<div class="main__wrap">
    <section class="main container">
        <div class="main__content">
            <div class="main__logo">
                <a href="/"><img src="{{ url_for('static', filename='images/logo.svg') }}" alt=""></a>
                <h1>PHOTOVOLTAIK VOM FACHMANN</h1>
            </div>
            <div class="main__offer">
                <div class="main__offer-item">
                    <div class="main__offer-item-header">
                        Kostenlose Beratung buchen
                    </div>
                    <div class="main__offer-item-title">
                        SOLARANLAGEN <br>MIT STROM-SPEICHER
                    </div>
                    <div class="main__offer-item-content">
                        <div class="main__offer-item-content-description">
                            Investieren Sie in die Zukunft Ihres Zuhauses und reduzieren Sie Energiekosten
                        </div>
                        <ul class="main__offer-item-features">

                            <li class="main__offer-item-feature"><span class="bullet"></span>Ohne Anzahlung</li>
                            <li class="main__offer-item-feature"><span class="bullet"></span>Made in Germany</li>
                            <li class="main__offer-item-feature"><span class="bullet"></span>Alles aus einer Hand</li>
                            <li class="main__offer-item-feature"><span class="bullet"></span><span>Installation innerhalb</span>8-12 Wochen</li>
                            <li class="main__offer-item-feature"><span class="bullet"></span>30 Jahre Garantie</li>
                            <li class="main__offer-item-feature"><span class="bullet"></span>Auch Schieferdächer</li>
                        </ul>
                        <a href="#call-to-action" class="main__offer-item-button mobile-del">Beratung buchen</a>
                        <div class="main__offer-item-note mobile-del">
                            <span class="check-icon"></span>100% kostenlos und unverbindlich
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>