.distance-icon {
  border: none;
  border-radius: 4px;
  padding: 6px 6px;
  font: 14px sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

//.my-distance-label {
//  /* Переопределяем что-то под себя (или вообще свои стили) */
//  background-color: #fffa;
//  border: 1px solid #f99;
//  color: #d00;
//}
