<section class="banner">
    <div class="banner__content container__main">
        <div class="banner__img">
            <div class="ipad banner__sale">
                <span>50%</span>
                <p>Скидки на все
                    направления</p>
            </div>
            <div class="banner__block">
                <div class="ipad-del banner__sale">
                    <span>50%</span>
                    <p>Скидки на все
                        направления</p>
                </div>
                <div class="banner__info">
                    <div>Детям 0-12 лет</div>
                    <div>Всем студентам</div>
                    <div>Участникам СВО</div>
                </div>
            </div>
        </div>
    </div>
</section>