<section class="faq">
    <div class="faq__content container__main">
        <h3 class="faq__title">Часто задаваемые вопросы (FAQ)</h3>


        <div class="faq__column">
            <div class="faq__block">
                <div class="faq__info">
                    <p>Сколько автобусов вы можете обеспечить?</p>
                    <span class="icon-arrow"></span>
                </div>
                <div class="faq__text">
                    Мы можем обеспечить любое количество транспорта. В случае, если все наши автобусы будут заняты, мы договоримся с нашими партнерами, и они помогут нам найти дополнительные автобусы того же класса, что и в основном Автопарке.
                </div>
            </div>
            <div class="faq__block">
                <div class="faq__info">
                    <p>Вы работаете ночью? Возможна ли перевозка
                        в ночное время?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Да, конечно, только если это не детская экскурсионная поездка. В таком случае, по правилам ГАИ, перевозка не осуществляется с 23:00 до 6:00.
                </div>
            </div>
            <div class="faq__block">
                <div class="faq__info">
                    <p>Какие виды расчетов вы поддерживаете?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Мы принимаем любые виды оплаты: в том числе оплата по QR-коду, а также безналичную оплату заказа по счету с НДС или по УСН.
                </div>
            </div>
            <div class="faq__block">
                <div class="faq__info">
                    <p>Предоставляете ли вы скидки?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Скидки предоставляются нашим постоянным клиентам. В целом, мы стремимся предлагать качественные и доступные услуги.
                </div>
            </div>
            <div class="faq__block">
                <div class="faq__info">
                    <p>У вас есть автобусы с микрофоном?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Да, все наши автобусы оборудованы микрофоном, стереосистемой, TV/DVD  и полностью готовы для проведения экскурсий.
                </div>
            </div>
            <div class="faq__block">
                <div class="faq__info">
                    <p>Предоставляете ли вы услугу доставки сотрудников/перевозки рабочих/шаттл-бас?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Да, данная услуга является одним из ключевых наших направлений. Мы имеем большой опыт транспортного обслуживания корпоративных клиентов разного уровня и сфер деятельности и всегда готовы предложить наиболее оптимальные решения под любой бюджет.
                </div>
            </div>

            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Какие документы необходимы для аренды автобуса?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Для оформления договора необходимы паспортные данные (в случае аренды на физическое лицо) либо реквизиты компании (в случае аренды на юридическое лицо).
                </div>
            </div>
            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Мы считаем, что водитель едет крайне медленно. Можно ли ехать быстрее?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Все наши водители управляют автобусами в строгом соответствии с Правилами Дорожного Движения РФ. За нарушения ПДД, включая превышение скорости, к ним применяются различные меры — от депремирования до увольнения. В случае, если Вы считаете, что водитель нарушает правила — просьба сообщить нам об этом любым удобным для Вас способом.
                    <br><br>
                    Обеспечение безопасности пассажиров — наше основное правило.
                </div>
            </div>
            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Нам нужен автобус на 20-30-40 минут. Сколько будет стоить аренда в таком случае?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    В таком случае расчет ведется по времени минимального заказа.
                </div>
            </div>
            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Я не нашел ответа на свой вопрос. Как его можно задать?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Вы можете связаться с нами любым способом, указанным в разделе Контакты. Наши менеджеры с удовольствием ответят на любой Ваш вопрос, а также помогут подобрать оптимальный транспорт под Вашу поездку.
                </div>
            </div>
        </div>
        <div class="faq__column">
            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Ваши автобусы оборудованы кондиционером?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Да, все автобусы оборудованы кондиционерами, которые в обязательном порядке проходят периодическое техническое обслуживание.
                </div>
            </div>
            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Возможна ли перевозка кошек/собак/любых других домашних животных в ваших автобусах?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Пассажирский транспорт предназначен для перевозки людей. Перевозка домашних животных в автобусах допускается только в специальных боксах/сумках, которые размещаются как ручная кладь или багаж.
                </div>
            </div>
            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Возможна ли перевозка спортивного инвентаря/музыкальных инструментов/оборудования для киносъемок?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Благодаря вместительным багажным отсекам наших автобусов возможна перевозка следующего инвентаря в качестве багажа:
                    <br><br>
                    •	спортивный или охотничий инвентарь <br>
                    •	музыкальные инструменты <br>
                    •	студийное или концертное оборудование <br>
                    •	оборудование для выездных мероприятий <br>
                    •	и т.д. <br><br>
                    Обращаем Ваше внимание, что багаж перевозится только в упакованном и чистом виде, нетоксичный и без посторонних запахов.
                    Согласно ПДД РФ п. 23.2. «Перед началом и во время движения водитель обязан контролировать размещение, крепление и состояние груза во избежание его падения, создания помех для движения.»
                    Поэтому во избежание недоразумений просьба заранее уведомлять о перевозке багажа и его объемах/весе.
                    *** Не допустима перевозка грузов с превышением максимальной нагрузки на ось или максимальной грузоподъемности.
                    <br>
                    Надеемся на Ваше понимание.

                </div>
            </div>
            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Что произойдет при поломке автобуса в поездке?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Наши автобусы проходят периодические плановые и предрейсовые технические осмотры, которые позволяют предупреждать возможные поломки и производить замену узлов, деталей и агрегатов, не дожидаясь выхода их из строя. Но, в случае, если автобус всё-таки сломался, то мы незамедлительно предоставляем замену. Все замены и накладные расходы безусловно оплачиваются нашей компанией.
                </div>
            </div>
            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Оборудованы ли ваши автобусы для перевозки пассажиров с ограниченными возможностями (инвалидов)?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    К сожалению, наши автобусы не имеют специализированных приспособлений для перевозки людей с ограниченными возможностями. В случае с инвалидной коляской — её можно разместить в багажном отсеке любого из наших микроавтобусов или автобусов.
                </div>
            </div>
            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Возможно ли употребление пищи/напитков в салоне автобуса?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    Прием пищи и употребление напитков (за исключением воды) в салоне автобуса запрещены. Это допустимо только в случае уплаты депозита в размере химчистки салона.
                    <br>
                    Надеемся на Ваше понимание.
                </div>
            </div>
            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Я оставил телефон/сумку/планшет и т.д. в автобусе. Что делать, куда обратится?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    В случае, если кто-то из пассажиров оставил свои вещи в автобусе, необходимо связаться с менеджерами нашей компании любым удобным для Вас способом.
                </div>
            </div>
            <div class="show-close faq__block">
                <div class="faq__info">
                    <p>Насколько заранее необходимо заказывать автобус?</p>
                    <span class="icon-arrow"></span></div>
                <div class="faq__text">
                    По нашему опыту, если речь идёт о горячих датах (Новый год, выпускной и т.д.), то подавать заявку на заказ автобуса необходимо не позднее, чем за 3-4 недели. В обычные дни это не менее, чем за 2-3 дня до поездки. В таком случае Вам будет доступна большая часть транспорта.
                </div>
            </div>
            <div class="faq__button mobile-faq">
                <button class="faq_show">Показать еще</button>
            </div>
        </div>

    </div>
</section>