<section id="directions" class="info">
    <div class="info__content container__main">
        <h3 class="info__title">Удивительные направления для путешествий</h3>
        <span class="info__subtitle mobile-del">Вы еще не решили, куда отправиться? Откройте для себя потрясающие маршруты.</span>
        <div class="mobile-block info__images">
            <div class="mobile-slider call__images info__img" >
                <img src="{{ url_for('static', filename='images/index/info/img1.webp') }}" alt="">
                <h4>Шерегеш</h4>
                <div>
                    <p>Заказать перевозку</p>
                    <span class="icon-arrow"></span>
                </div>
            </div>
            <div class="mobile-slider call__images info__img">
                <img src="{{ url_for('static', filename='images/index/info/img2.webp') }}" alt="">
                <h4>Озеро Яровое</h4>
                <div>
                    <p>Заказать перевозку</p>
                    <span class="icon-arrow"></span>
                </div>
            </div>
            <div class="mobile-slider call__images info__img">
                <img src="{{ url_for('static', filename='images/index/info/img3.webp') }}" alt="">
                <h4>Ергаки</h4>
                <div>
                    <p>Заказать перевозку</p>
                    <span class="icon-arrow"></span>
                </div>
            </div>
            <div class="mobile-slider call__images info__img">
                <img src="{{ url_for('static', filename='images/index/info/img4.webp') }}" alt="">
                <h4>Красноярские Столбы</h4>
                <div>
                    <p>Заказать перевозку</p>
                    <span class="icon-arrow"></span>
                </div>
            </div>
            <div class="mobile-slider call__images info__img">
                <img src="{{ url_for('static', filename='images/index/info/img5.webp') }}" alt="">
                <h4>Алтай</h4>
                <div>
                    <p>Заказать перевозку</p>
                    <span class="icon-arrow"></span>
                </div>
            </div>
            <div class="mobile-slider call__images info__img">
                <img src="{{ url_for('static', filename='images/index/info/img6.webp') }}" alt="">
                <h4>Байкал</h4>
                <div>
                    <p>Заказать перевозку</p>
                    <span class="icon-arrow"></span>
                </div>
            </div>
        </div>

        <div class="slider-dots mobile-faq"></div>
        <h3 class="info__title margin">Наши автобусы – комфорт и надёжность в каждой поездке</h3>
        <span class="info__subtitle mobile-del">
            Наши современные автобусы обеспечивают максимальный комфорт и безопасность для ваших путешествий.
            Мы заботимся о каждой детали, чтобы сделать вашу поездку приятной и удобной.
        </span>
        <div class="info__images">
            <a href="/cars/" style="height: auto; max-width: none; width: 100%;" class="info__img">
                <section class="img1"></section>
<!--                <img src="{{ url_for('static', filename='images/index/info/img1_1.webp') }}" alt="">-->
                <div style="bottom: 27px; left: 24px; opacity: 1;">
                    <p>Посмотреть автобусы</p>
                    <span class="icon-arrow"></span>
                </div>
            </a>
            <div class="info__img">
                <section class="img2"></section>
<!--                <img src="{{ url_for('static', filename='images/index/info/img1_2.webp') }}" alt="">-->
                <div style="position: relative; bottom: 0 !important; left: 0 !important; width: 100%; opacity: 1; display: flex; justify-content: center; margin: 11px 0;">
                    <p class="black-text">Современные и удобные сиденья</p>
                </div>
            </div>
            <div class="info__img">
                <section class="img3"></section>
<!--                <img src="{{ url_for('static', filename='images/index/info/img1_3.webp') }}" alt="">-->
                <div style="position: relative; bottom: 0 !important; left: 0 !important; width: 100%; opacity: 1; display: flex; justify-content: center; margin: 11px 0;">
                    <p class="black-text">USB-розетки</p>
                </div>
            </div>
            <div class="info__img">
                <section class="img4"></section>
<!--                <img src="{{ url_for('static', filename='images/index/info/img1_4.webp') }}" alt="">-->
                <div style="position: relative; bottom: 0 !important; left: 0 !important; width: 100%; opacity: 1; display: flex; justify-content: center; margin: 11px 0;">
                    <p class="black-text">Профессиональные водители</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='scripts/info.js') }}"></script>