<section class="main">
    <div class="main__background">
        <div class="main__title">
            <h2>Автобусные маршруты по Сибири</h2>
            <span>Легко найдите подходящий маршрут <br class="mobile-main"> для вашего путешествия</span>
        </div>
        <div class="main__content">
            <div class="main__trip mobile-del">
                <div class="main__block">
                    <div class="main__block-row">
                        <span class="main__location">Новосибирск-Новокузнецк</span>
                        <span class="main__date"><img src="{{ url_for('static', filename='images/date.svg') }}" alt=""> ежедневно</span>
                        <span class="main__time">Расписание <span class="icon-arrow"></span></span>
                    </div>
                    <div class="main__block-info">
                        <span class="main__block-time">04:45 (ежедневно)</span>
                        <span style="width: 14%; color: rgba(35, 35, 35, 0.6)" class="main__block-time">Рейс 6976</span>
                        <span class="main__block-content">Аэропорт «Толмачево» – «ЖД вокзал» - «АВ Новосибирский автовокзал - Главный» - «АВ Ленинск-Кузнецкий» - «АВ Новокузнецк» </span>
                    </div>
                    <div class="main__block-info">
                        <span class="main__block-time">18:00 (ежедневно)</span>
                        <span style="width: 14%; color: rgba(35, 35, 35, 0.6)" class="main__block-time">Рейс 6351</span>
                        <span class="main__block-content">Аэропорт «Толмачево» – «ЖД вокзал» - «АВ Новосибирский автовокзал - Главный» - «АВ Ленинск-Кузнецкий» - «АВ Новокузнецк» </span>
                    </div>
                </div>
                <a href="https://nskavtovokzal.ru/passenger" class="main__buy">Купить билет</a>
            </div>
            <div class="main__trip mobile-del">
                <div class="main__block">
                    <div class="main__block-row">
                        <span class="main__location">Новосибирск-Таштагол-Новосибирск</span>
                        <span class="main__date"><img src="{{ url_for('static', filename='images/date.svg') }}" alt=""> ежедневно</span>
                        <span class="main__time">Расписание <span class="icon-arrow"></span></span>
                    </div>
                    <div class="main__block-info">
                        <span class="main__block-time">03:05 (ежедневно)</span>
                        <span style="width: 14%; color: rgba(35, 35, 35, 0.6)" class="main__block-time">Рейс 5650</span>
                        <span class="main__block-content">Аэропорт «Толмачево» – «ЖД вокзал» - «АВ Новосибирский автовокзал - Главный» - «АВ Ленинск-Кузнецкий» - «АВ Белово» - «АВ Новокузнецк» - «ОП Темир-Тау» - «ОП Каз»- «ОП Чугунаш» - «ОП Шерегеш» - «АВ Таштагольский»</span>
                    </div>
                    <div class="main__block-info">
                        <span class="main__block-time">21:30 (ежедневно)</span>
                        <span style="width: 14%; color: rgba(35, 35, 35, 0.6)" class="main__block-time">Рейс 5650</span>
                        <span class="main__block-content">«АВ Таштагольский» - «ОП Шерегеш» - «ОП Чугунаш» - «ОП Каз» - «ОП Темир-Тау» - «АВ Новокузнецк» - «АВ Белово» - «АВ Ленинск-Кузнецкий» - «АВ Новосибирский автовокзал - Главный» - «ЖД вокзал» - Аэропорт «Толмачево»</span>
                    </div>
                </div>
                <a href="https://nskavtovokzal.ru/passenger" class="main__buy">Купить билет</a>
            </div>
            <div class="main__trip mobile-del">
                <div class="main__block">
                    <div class="main__block-row">
                        <span class="main__location">Новокузнецк-Новосибирск</span>
                        <span class="main__date"><img src="{{ url_for('static', filename='images/date.svg') }}" alt=""> ежедневно</span>
                        <span class="main__time">Расписание <span class="icon-arrow"></span></span>
                    </div>
                    <div class="main__block-info">
                        <span class="main__block-time">09:20 (ежедневно)</span>
                        <span style="width: 14%; color: rgba(35, 35, 35, 0.6)" class="main__block-time">Рейс 7724</span>
                        <span class="main__block-content">«АВ Новокузнецк» - «АВ Ленинск-Кузнецкий» - «АВ Новосибирский автовокзал - Главный» - Аэропорт «Толмачево»</span>
                    </div>
                    <div class="main__block-info">
                        <span class="main__block-time">20:00 (ежедневно)</span>
                        <span style="width: 14%; color: rgba(35, 35, 35, 0.6)" class="main__block-time">Рейс 7851</span>
                        <span class="main__block-content">«АВ Новокузнецк» - «АВ Новосибирский автовокзал - Главный» - Аэропорт «Толмачево»</span>
                    </div>
                    <div class="main__block-info">
                        <span class="main__block-time">22:00 (ежедневно)</span>
                        <span style="width: 14%; color: rgba(35, 35, 35, 0.6)" class="main__block-time">Рейс 5922</span>
                        <span class="main__block-content">«АВ Новокузнецк» - «АВ Ленинск-Кузнецкий» - «АВ Новосибирский автовокзал - Главный» - «ЖД Вокзал» - Аэропорт «Толмачево»</span>
                    </div>
                </div>
                <a href="https://nskavtovokzal.ru/passenger" class="main__buy">Купить билет</a>
            </div>
            <div class="main__trip mobile-del">
                <div class="main__block">
                    <div class="main__block-row">
                        <span class="main__location">Междуреченск-Новосибирск</span>
                        <span class="main__date"><img src="{{ url_for('static', filename='images/date.svg') }}" alt=""> ежедневно</span>
                        <span class="main__time">Расписание <span class="icon-arrow"></span></span>
                    </div>
                    <div class="main__block-info">
                        <span class="main__block-time">17:50 (ежедневно)</span>
                        <span style="width: 14%; color: rgba(35, 35, 35, 0.6)" class="main__block-time">Рейс 7851</span>
                        <span class="main__block-content">«АВ Междуреченский» - «АВ Новокузнецк» - «АВ Новосибирский автовокзал - Главный» - Аэропорт «Толмачево»</span>
                    </div>
                </div>
                <a href="https://nskavtovokzal.ru/passenger" class="main__buy">Купить билет</a>
            </div>
            <div class="main__trip mobile-del">
                <div class="main__block">
                    <div class="main__block-row">
                        <span class="main__location">Новосибирск-Яровое</span>
                        <span class="main__date"><img src="{{ url_for('static', filename='images/date.svg') }}" alt="">(сезонный рейс с 15.06.-31.08)</span>
                        <span class="main__time">Расписание <span class="icon-arrow"></span></span>
                    </div>
                    <div class="main__block-info">
                        <span class="main__block-time">2:50</span>
                        <span style="width: 14%; color: rgba(35, 35, 35, 0.6)" class="main__block-time">Рейс 5374</span>
                        <span class="main__block-content">Аэропорт «Толмачево» – «ЖД вокзал» - «АВ Юго-Западная» - «ОП Хабары» - «ОП Гальбштадт» - «АС Славгород» - «АС Яровое»</span>
                    </div>
                </div>
                <a href="https://nskavtovokzal.ru/passenger" class="main__buy">Купить билет</a>
            </div>
            <div class="main__trip mobile-del">
                <div class="main__block">
                    <div class="main__block-row">
                        <span class="main__location">Новосибирск-Краснозерское-Новосибирск</span>
                        <span class="main__date"><img src="{{ url_for('static', filename='images/date.svg') }}" alt=""> ежедневно</span>
                        <span class="main__time">Расписание <span class="icon-arrow"></span></span>
                    </div>
                    <div class="main__block-info">
                        <span class="main__block-time">7:10 (ежедневно)</span>
                        <span style="width: 14%; color: rgba(35, 35, 35, 0.6)" class="main__block-time">Рейс 510A</span>
                        <span class="main__block-content">«АВ Новосибирский автовокзал - Главный» - «ЖД вокзал» - «АВ Юго-Западная» - «АВ Ордынское» - «АВ Краснозерское»</span>
                    </div>
                    <div class="main__block-info">
                        <span class="main__block-time">14:30 (ежедневно)</span>
                        <span style="width: 14%; color: rgba(35, 35, 35, 0.6)" class="main__block-time">Рейс 510A</span>
                        <span class="main__block-content">«АВ Краснозерское» - «АВ Ордынское» - «АВ Юго-Западная» - «ОП Речной вокзал» - «ЖД вокзал» - «АВ Новосибирский автовокзал - Главный»</span>
                    </div>
                </div>
                <a href="https://nskavtovokzal.ru/passenger" class="main__buy">Купить билет</a>
            </div>

            <div class="main-mobile__trip">
                <div class="main-mobile__location">Новосибирск-Новокузнецк</div>
                <div class="main-mobile__buttons">
                    <button class="main-mobile__timing">
                        Расписание
                        {% include 'components/icons/arrow.html' %}
                    </button>
                    <a href="https://nskavtovokzal.ru/passenger" class="main-mobile__buy">
                        Купить билет
                        {% include 'components/icons/arrow.html' %}
                    </a>
                </div>
                <div class="main-mobile__info">
                    <div class="main-mobile__title">
                        <span>
                            04:45 (ежедневно)
                        </span>
                        <p>
                            Рейс 6976
                        </p>
                    </div>
                    <p>
                        Аэропорт «Толмачево» – «ЖД вокзал» - «АВ Новосибирский автовокзал - Главный» - «АВ Ленинск-Кузнецкий» - «АВ Новокузнецк»
                    </p>
                    <div class="main-mobile__title">
                        <span>
                            18:00 (ежедневно)
                        </span>
                        <p>
                            Рейс 6351
                        </p>
                    </div>
                    <p>
                        Аэропорт «Толмачево» – «ЖД вокзал» - «АВ Новосибирский автовокзал - Главный» - «АВ Ленинск-Кузнецкий» - «АВ Новокузнецк»
                    </p>
                </div>
            </div>

            <div class="main-mobile__trip">
                <div class="main-mobile__location">Новосибирск-Таштагол-Новосибирск</div>
                <div class="main-mobile__buttons">
                    <button class="main-mobile__timing">
                        Расписание
                        {% include 'components/icons/arrow.html' %}
                    </button>
                    <a href="https://nskavtovokzal.ru/passenger" class="main-mobile__buy">
                        Купить билет
                        {% include 'components/icons/arrow.html' %}
                    </a>
                </div>
                <div class="main-mobile__info">
                    <div class="main-mobile__title">
                        <span>
                            03:05 (ежедневно)
                        </span>
                        <p>
                            Рейс 5650
                        </p>
                    </div>
                    <p>
                        Аэропорт «Толмачево» – «ЖД вокзал» - «АВ Новосибирский автовокзал - Главный» - «АВ Ленинск-Кузнецкий» - «АВ Белово» - «АВ Новокузнецк» - «ОП Темир-Тау» - «ОП Каз»- «ОП Чугунаш» - «ОП Шерегеш» - «АВ Таштагольский»
                    </p>
                    <div class="main-mobile__title">
                        <span>
                            21:30 (ежедневно)
                        </span>
                        <p>
                            Рейс 5650
                        </p>
                    </div>
                    <p>
                        «АВ Таштагольский» - «ОП Шерегеш» - «ОП Чугунаш» - «ОП Каз» - «ОП Темир-Тау» - «АВ Новокузнецк» - «АВ Белово» - «АВ Ленинск-Кузнецкий» - «АВ Новосибирский автовокзал - Главный» - «ЖД вокзал» - Аэропорт «Толмачево»
                    </p>
                </div>
            </div>

            <div class="main-mobile__trip">
                <div class="main-mobile__location">Новокузнецк-Новосибирск</div>
                <div class="main-mobile__buttons">
                    <button class="main-mobile__timing">
                        Расписание
                        {% include 'components/icons/arrow.html' %}
                    </button>
                    <a href="https://nskavtovokzal.ru/passenger" class="main-mobile__buy">
                        Купить билет
                        {% include 'components/icons/arrow.html' %}
                    </a>
                </div>
                <div class="main-mobile__info">
                    <div class="main-mobile__title">
                        <span>
                            09:20 (ежедневно)
                        </span>
                        <p>
                            Рейс 7724
                        </p>
                    </div>
                    <p>
                        «АВ Новокузнецк» - «АВ Ленинск-Кузнецкий» - «АВ Новосибирский автовокзал - Главный» - Аэропорт «Толмачево»
                    </p>
                    <div class="main-mobile__title">
                        <span>
                            20:00 (ежедневно)
                        </span>
                        <p>
                            Рейс 7851
                        </p>
                    </div>
                    <p>
                        «АВ Новокузнецк» - «АВ Новосибирский автовокзал - Главный» - Аэропорт «Толмачево»
                    </p>
                    <div class="main-mobile__title">
                        <span>
                            22:00 (ежедневно)
                        </span>
                        <p>
                            Рейс 5922
                        </p>
                    </div>
                    <p>
                        «АВ Новокузнецк» - «АВ Ленинск-Кузнецкий» - «АВ Новосибирский автовокзал - Главный» - «ЖД Вокзал» - Аэропорт «Толмачево»
                    </p>
                </div>
            </div>

            <div class="main-mobile__trip">
                <div class="main-mobile__location">Междуреченск-Новосибирск</div>
                <div class="main-mobile__buttons">
                    <button class="main-mobile__timing">
                        Расписание
                        {% include 'components/icons/arrow.html' %}
                    </button>
                    <a href="https://nskavtovokzal.ru/passenger" class="main-mobile__buy">
                        Купить билет
                        {% include 'components/icons/arrow.html' %}
                    </a>
                </div>
                <div class="main-mobile__info">
                    <div class="main-mobile__title">
                        <span>
                            17:50 (ежедневно)
                        </span>
                        <p>
                            Рейс 7851
                        </p>
                    </div>
                    <p>
                        «АВ Междуреченский» - «АВ Новокузнецк» - «АВ Новосибирский автовокзал - Главный» - Аэропорт «Толмачево»
                    </p>
                </div>
            </div>

            <div class="main-mobile__trip">
                <div class="main-mobile__location">Новосибирск-Яровое</div>
                <div class="main-mobile__buttons">
                    <button class="main-mobile__timing">
                        Расписание
                        {% include 'components/icons/arrow.html' %}
                    </button>
                    <a href="https://nskavtovokzal.ru/passenger" class="main-mobile__buy">
                        Купить билет
                        {% include 'components/icons/arrow.html' %}
                    </a>
                </div>
                <div class="main-mobile__info">
                    <div class="main-mobile__title">
                        <span>
                            2:50 (сезонный рейс с 15.06.-31.08)
                        </span>
                        <p>
                            Рейс 5374
                        </p>
                    </div>
                    <p>
                        Аэропорт «Толмачево» – «ЖД вокзал» - «АВ Юго-Западная» - «ОП Хабары» - «ОП Гальбштадт» - «АС Славгород» - «АС Яровое»
                    </p>
                </div>
            </div>

            <div style="margin-bottom: 0" class="main-mobile__trip">
                <div class="main-mobile__location">Новосибирск-Краснозерское-Новосибирск</div>
                <div class="main-mobile__buttons">
                    <button class="main-mobile__timing">
                        Расписание
                        {% include 'components/icons/arrow.html' %}
                    </button>
                    <a href="https://nskavtovokzal.ru/passenger" class="main-mobile__buy">
                        Купить билет
                        {% include 'components/icons/arrow.html' %}
                    </a>
                </div>
                <div class="main-mobile__info">
                    <div class="main-mobile__title">
                        <span>
                            7:10 (ежедневно)
                        </span>
                        <p>
                            Рейс 510A
                        </p>
                    </div>
                    <p>
                        «АВ Новосибирский автовокзал - Главный» - «ЖД вокзал» - «АВ Юго-Западная» - «АВ Ордынское» - «АВ Краснозерское»
                    </p>
                    <div class="main-mobile__title">
                        <span>
                            14:30 (ежедневно)
                        </span>
                        <p>
                            Рейс 510A
                        </p>
                    </div>
                    <p>
                        «АВ Краснозерское» - «АВ Ордынское» - «АВ Юго-Западная» - «ОП Речной вокзал» - «ЖД вокзал» - «АВ Новосибирский автовокзал - Главный»
                    </p>
                </div>
            </div>

            <div class="message">
                <img src="{{ url_for('static', filename='images/message.svg') }}" alt="">
            </div>
            <div class="message__block">
                <div class="message__block__header">
                    <img src="{{ url_for('static', filename='images/logo.svg/') }}" alt="logo">
                    <span>
                СИБАЛЯСКАТРЕВЕЛ
            </span>
                </div>
                <p>
                    У вас есть вопросы? Свяжитесь с нами удобным
                    для вас способом
                </p>
                <div class="message__block__content">
                    <a href="https://t.me/+79139052370" target="_blank">
                        <img src="{{ url_for('static', filename='images/index/main/telegram.svg') }}" alt="">
                        <span>Telegram</span>
                    </a>
                    <a href="mailto:info@sibalaskatravel.ru">
                        <img src="{{ url_for('static', filename='images/index/main/mail.svg/') }}" alt="">
                        <span>info@sibalaskatravel.ru</span>
                    </a>
                    <a href="https://wa.me/79139052370" target="_blank">
                        <img src="{{ url_for('static', filename='images/index/main/whatsapp.svg/') }}" alt="">
                        <span>WhatsApp</span>
                    </a>
                    <div class="message__call">
                        <img style="width: 20px; height: 20px;"
                             src="{{ url_for('static', filename='images/index/main/phone.svg/') }}" alt="">
                        <span>Обратный звонок</span>
                    </div>
                </div>
            </div>
            <div class="message__wrap"></div>
        </div>
    </div>
</section>