<section class="border">
  <div class="border__content container__main">
    <div class="border__header base__header">
      <div class="border__header-left base__left">
        <h2>Warum ist </h2>
        <div>UniShare</div>
        <h2>wichtig?</h2>
      </div>
      <div class="border__header-right base__right">
        Der Sharing-Markt wächst rasant: Dienste wie MINI Sharing und SIXT share sind in Deutschland bereits erfolgreich, besonders in Städten.
      </div>
    </div>
  </div>
</section>