<section class="difference">
    <div class="difference__content container__main">
        <div class="difference__header base__header">
            <div style="max-width: 559px;" class="difference__header-left base__left">
                <h2>Was unterscheidet</h2>
                <div class="anim_scroll">UniShare</div>
            </div>
            <div class="difference__header-right base__right">
                Wir bieten Lösungen, die Technologie, Benutzerfreundlichkeit und Partnerschaften zu einem nahtlosen
                Erlebnis vereinen.
            </div>
        </div>

        <div class="difference__blocks">
            <div class="difference__block difference__tasks">
                <div class="difference__task">
                    <div>
                        <span>01.</span>
                        <p>Umfassende Integration</p>
                    </div>
                    {% include 'components/icons/arrow.html' %}
                    {% include 'components/icons/arrow_list.html' %}
                </div>
                <div class="mobile_text mobile_anim">
                    Ein benutzerfreundliches Design, das eine nahtlose Erfahrung garantiert. Alle Funktionen sind mit
                    wenigen Klicks zugänglich, damit Sie sich auf Ihr Ziel konzentrieren können – nicht auf den Prozess.
                </div>
                <div class="difference__task active">
                    <div>
                        <span>02.</span>
                        <p>Benutzerfreundlich Intuitiv</p>
                    </div>
                    {% include 'components/icons/arrow.html' %}
                    {% include 'components/icons/arrow_list.html' %}
                </div>
                <div class="mobile_text mobile_anim">
                    Ein benutzerfreundliches Design, das eine nahtlose Erfahrung garantiert. Alle Funktionen sind
                    mit wenigen Klicks zugänglich, damit Sie sich auf Ihr Ziel konzentrieren können – nicht auf den
                    Prozess.
                </div>
                <div class="difference__task">
                    <div>
                        <span>03.</span>
                        <p>Optimierte Routenplanung</p>
                    </div>
                    {% include 'components/icons/arrow.html' %}
                    {% include 'components/icons/arrow_list.html' %}
                </div>
                <div class="mobile_text mobile_anim">
                    Mit unseren fortschrittlichen Algorithmen wird die Routenplanung schneller und einfacher.
                    UniShare wählt für Sie den optimalen Weg, um Zeit und Energie zu sparen.
                </div>
                <div class="difference__task">
                    <div>
                        <span>04.</span>
                        <p>Starke Partnerschaften</p>
                    </div>
                    {% include 'components/icons/arrow.html' %}
                    {% include 'components/icons/arrow_list.html' %}
                </div>
                <div class="mobile_text mobile_anim">
                    Mit unseren fortschrittlichen Algorithmen wird die Routenplanung schneller und einfacher.
                    UniShare wählt für Sie den optimalen Weg, um Zeit und Energie zu sparen.
                </div>
            </div>
            <div class="difference__block difference__text">
                <div style="opacity: 0;" class="text1">
                    <div class="difference__number">
                        <div>01</div>
                    </div>
                    <span>Umfassende Integration</span>
                    <p>
                        Ein benutzerfreundliches Design, das eine nahtlose Erfahrung garantiert. Alle Funktionen sind
                        mit wenigen Klicks zugänglich, damit Sie sich auf Ihr Ziel konzentrieren können – nicht auf den
                        Prozess.
                    </p>
                </div>
                <div class="text2">
                    <div class="difference__number">
                        <div>02</div>
                    </div>
                    <span>Benutzerfreundlich Intuitiv</span>
                    <p>
                        Ein benutzerfreundliches Design, das eine nahtlose Erfahrung garantiert. Alle Funktionen sind
                        mit wenigen Klicks zugänglich, damit Sie sich auf Ihr Ziel konzentrieren können – nicht auf den
                        Prozess.
                    </p>
                </div>
                <div style="opacity: 0;" class="text3">
                    <div class="difference__number">
                        <div>03</div>
                    </div>
                    <span>Optimierte Routenplanung</span>
                    <p>
                        Mit unseren fortschrittlichen Algorithmen wird die Routenplanung schneller und einfacher.
                        UniShare wählt für Sie den optimalen Weg, um Zeit und Energie zu sparen.
                    </p>
                </div>
                <div style="opacity: 0;" class="text4">
                    <div class="difference__number">
                        <div>04</div>
                    </div>
                    <span>Starke Partnerschaften</span>
                    <p>
                        Mit unseren fortschrittlichen Algorithmen wird die Routenplanung schneller und einfacher.
                        UniShare wählt für Sie den optimalen Weg, um Zeit und Energie zu sparen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>