<section id="nav2" class="group">
    <div class="group__content container__main">
        <div class="group__header base__header">
            <div class="group__header-left base__left">
                <div class="anim_scroll zielgruppe">Zielgruppe</div>
            </div>
            <div class="group__header-right base__right">
                Wir bieten flexible, nachhaltige und effiziente Lösungen für ein einheitliches Mobilitätserlebnis,
                abgestimmt auf die Bedürfnisse jeder Zielgruppe.
            </div>
        </div>
        <div class="group__blocks">
            <div class="group__block">
                <div></div>
                <p>Stadtbewohner</p>
                <span>
                    Die ideale Lösung für alle, die in der Stadt wohnen und nach flexiblen Mobilitätslösungen suchen.
                </span>
            </div>
            <div class="group__block">
                <div></div>
                <p>Umweltbewusste Nutzer</p>
                <span>
                    Unterstützen Sie nachhaltige Mobilität mit umweltfreundlichen Verkehrsmitteln.
                </span>
            </div>
            <div class="group__block">
                <div></div>
                <p>Geschäftsreisende</p>
                <span style="max-width: 259px;">
                    Geschäftsreisende, die effiziente und zuverlässige Transportlösungen benötigen.
                </span>
            </div>
            <div class="group__block">
                <div></div>
                <p>Gelegenheitsnutzer</p>
                <span style="max-width: 259px;">
                    Für diejenigen, die kein eigenes Fahrzeug benötigen, aber flexibel bleiben wollen.
                </span>
            </div>
        </div>
    </div>
</section>