<section id="nav2" class="group">
  <div class="group__content container__main">
    <div class="group__header base__header">
      <div style="max-width: 509px" class="group__header-left base__left">
        <h2>Wie funktioniert </h2>
        <div class="anim_scroll">UniShare</div>
      </div>
      <div class="group__header-right base__right">
        Unsere Einnahmen stammen aus transparenten Provisionen und Premium-Optionen, ohne zusätzliche Kosten für die Nutzer.
      </div>
    </div>
    <div class="group__blocks">
      <div class="group__blockTwo">
        <p class="group__number">01</p>
        <h3>Provisionen</h3>
        <span>
                    Für jede Buchung erhalten wir eine Provision von den Sharing-Anbietern, was unser Service für Sie kostenlos macht.
                </span>
      </div>
      <div class="group__blockTwo">
        <p class="group__number">02</p>
        <h3>Premium-Abonnements</h3>
        <span>
                    Exklusive Funktionen für unsere Premium-Nutzer – von erweiterten Routenoptionen bis hin zu personalisierten Empfehlungen.
                </span>
      </div>
      <div class="group__blockTwo">
        <p class="group__number">03</p>
        <h3>Partnerschaften</h3>
        <span>
                    Durch enge Zusammenarbeit mit führenden Anbietern bieten wir Ihnen die besten Optionen für Ihre Mobilität.
                </span>
      </div>
    </div>
  </div>
</section>