<section id="nav3" class="steps">
    <div class="steps__content container__main">
        <div class="steps__header base__header">
            <div style="max-width: 590px;" class="steps__header-left base__left">
                <h2>Nächste Schritte mit</h2>
                <div class="anim_scroll">UniShare</div>
            </div>
            <div class="steps__header-right base__right">
                UniShare revolutioniert die urbane Mobilität mit smarten Lösungen – von Prototyp bis Skalierung. Weniger Staus, sauberere Städte.
            </div>
        </div>
        <div class="steps__blocks">
            <img class="arrow" src="{{ url_for('static', filename='images/index/steps/arrow.svg') }}" alt="">
            <img class="arrow" src="{{ url_for('static', filename='images/index/steps/arrow.svg') }}" alt="">
            <img class="arrow" src="{{ url_for('static', filename='images/index/steps/arrow.svg') }}" alt="">
            <div class="steps__block">
                <div class="steps__icon">
                    <img src="{{ url_for('static', filename='images/index/steps/steps1.svg') }}" alt="">
                </div>
                <div class="steps__text">
                    <p>
                        Prototyp entwickeln
                    </p>
                    <span>
                        Ein funktionaler Start für unsere Vision.
                    </span>
                </div>
            </div>
            <div class="steps__block">
                <div class="steps__icon">
                    <img style="transform: translate(2px, -2px)" src="{{ url_for('static', filename='images/index/steps/steps2.svg') }}" alt="">
                </div>
                <div class="steps__text">
                    <p>
                        Pilotprojekt
                    </p>
                    <span>
                        Testlauf in einer ausgewählten Stadt.
                    </span>
                </div>
            </div>
            <div class="steps__block">
                <div class="steps__icon">
                    <img style="transform: translate(1px, -1px)"  src="{{ url_for('static', filename='images/index/steps/steps3.svg') }}" alt="">
                </div>
                <div class="steps__text">
                    <p>
                        Partnerschaften
                    </p>
                    <span>
                        Partnerschaft mit Top-Sharing-Anbietern.
                    </span>
                </div>
            </div>
            <div class="steps__block">
                <div class="steps__icon">
                    <img style="transform: translate(1px, -1px)"  src="{{ url_for('static', filename='images/index/steps/steps4.svg') }}" alt="">
                </div>
                <div class="steps__text">
                    <p>
                        Skalierung
                    </p>
                    <span>
                        Expansion in weitere Städte und Regionen.
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>