<div class="section info-children">
    <div class="info-children__content container__main">
        <h3 class="info-children__title">
            Почему выбирают нас?
        </h3>
        <span class="info-children__subtitle">
            Мы с 2019 года предоставляем качественное, ответственное и доступное транспортное обслуживание. Заказывая у нас перевозку, Вы можете быть уверены в:
        </span>
        <div class="info-children__blocks">
            <div class="info-children__block">
                <img src="{{ url_for('static', filename='images/children/img2.webp') }}" alt="logo">
                <p>Безопасный и проверенный транспорт</p>
                <span>
                    Наш транспорт регулярно проходит тщательные проверки и полностью соответствует требованиям законодательства. Мы строго соблюдаем все правила и нормы, обеспечивая безопасную перевозку групп детей.
                </span>
            </div><div class="info-children__block">
            <img src="{{ url_for('static', filename='images/children/img1.webp') }}" alt="logo">
                <p>Опытные и вежливые водители</p>
                <span>
                    Наши водители имеют многолетний опыт работы в сфере перевозки детей. Они проходят регулярное обучение, чтобы соответствовать самым высоким стандартам безопасности.
                </span>
            </div>
        </div>
    </div>
</div>