<section class="children">
    <div class="children__content container__main">
        <div class="children__block">
            <h2 class="children__title">
                Перевозка детей в Новосибирске
            </h2>
            <span class="children__subtitle">
                Организованная и безопасная перевозка групп детей
                микроавтобусами и автобусами — это наша специализация.
            </span>
            <button class="children__call">
                Заказать перевозку
            </button>
        </div>
        {% include 'components/elements/message.html' %}
    </div>
</section>