<section class="organization">
    <div class="organization__content container__main">
        <h2 class="organization__title">
            Как организуется перевозка?
        </h2>
        <div class="organization__blocks">
            <div class="organization__block">
                <img src="{{ url_for('static', filename='images/children/organization1.svg') }}" alt="logo">
                <p>1. Подготовка документов:</p>
                <span>
                    Договор фрахтования, Список детей <a href="{{ url_for('static', filename='files/Образец_списка_пассажиров_детская_перевозка.docx') }}">(скачать)</a>
                    и сопровождающих, Уведомление в ГИБДД, Программа маршрута <a href="{{ url_for('static', filename='files/Сведения о маршруте.docx') }}">(скачать)</a>, Перечень пищевых продуктов
              </span>
            </div>
            <div class="organization__block">
                <img src="{{ url_for('static', filename='images/children/organization2.svg') }}" alt="logo">
                <p>2. Согласование с ГИБДД:</p>
                <span>
                    Уведомление подается не менее чем за 48 часов
                    до начала поездки. Мы следим за правильностью оформления документов, чтобы избежать отказов.
              </span>
            </div>
            <div class="organization__block">
                <img src="{{ url_for('static', filename='images/children/organization3.svg') }}" alt="logo">
                <p>3. Подготовка транспорта:</p>
                <span>
                    Проверка технического состояния, Укомплектование всем необходимым оборудованием, Готовность документов
              </span>
            </div>
            <div class="organization__block">
                <img src="{{ url_for('static', filename='images/children/organization4.svg') }}" alt="logo">
                <p>4. Перевозка детей:</p>
                <span>
                    Все наши автобусы соответствуют требованиям законодательства РФ, Оснащены оборудованием для безопасной перевозки
              </span>
            </div>
        </div>
    </div>
</section>