<section class="about_us-info">
    <div class="about_us-info__content container__main">
        <h2 class="about_us-info__title">
            Почему выгодно арендовать автобус в компании "СИБАЛЯСКАТРЕВЕЛ"?
        </h2>
        <div class="about_us-info__blocks">
            <div class="about_us-info__block">
                <div>
                    <img src="{{ url_for('static', filename='images/about-us/info1.svg') }}" alt="logo">
                </div>
                <span>Пунктуальность:</span>
                <p>Приезжаем заранее, вы не будете ждать нас ни минуты!</p>
            </div>
            <div class="about_us-info__block">
                <div>
                    <img src="{{ url_for('static', filename='images/about-us/info2.svg') }}" alt="logo">
                </div>
                <span>Удобство:</span>
                <p>Вы можете использовать транспорт все оплаченное время.</p>
            </div>
            <div class="about_us-info__block">
                <div>
                    <img src="{{ url_for('static', filename='images/about-us/info3.svg') }}" alt="logo">
                </div>
                <span>Точность:</span>
                <p>Доставим пассажиров точно в срок! У нас опытные водители и исправный современный транспорт.</p>
            </div>
            <div class="about_us-info__block">
                <div>
                    <img src="{{ url_for('static', filename='images/about-us/info4.svg') }}" alt="logo">
                </div>
                <span>Удобная оплата:</span>
                <p>Наличные и безналичные способы оплаты.</p>
            </div>
            <div class="about_us-info__block">
                <div>
                    <img src="{{ url_for('static', filename='images/about-us/info5.svg') }}" alt="logo">
                </div>
                <span>Выбор автотранспорта:</span>
                <p>Точный подбор транспорта и необходимого оборудования под ваши задачи.</p>
            </div>
            <div class="about_us-info__block">
                <div>
                    <img src="{{ url_for('static', filename='images/about-us/info6.svg') }}" alt="logo">
                </div>
                <span>Круглосуточная поддержка:</span>
                <p>Мы на связи 24 часа и без выходных!</p>
            </div>
        </div>
    </div>

</section>