<section class="organization-about-us">
  <div class="organization-about-us__content container__main">
    <h2 class="organization-about-us__title">Как организуется перевозка?</h2>
    <div class="organization-about-us__blocks">
      <div class="organization-about-us__block">1. Обсуждаем детали заказа</div>
      <div class="organization-about-us__block">2. Согласовываем стоимость</div>
      <div class="organization-about-us__block">3. Заключаем договор</div>
      <div class="organization-about-us__block">4. Заказчик высылает списки</div>
      <div class="organization-about-us__block">5. Мы готовим документы</div>
      <div class="organization-about-us__block">6. Высылаем пакет документов</div>
      <div class="organization-about-us__block">7. Поездка</div>
      <div class="organization-about-us__block">8. Закрывающие документы</div>
    </div>
  </div>
</section>