<section class="taking-care">
    <div class="taking-care__content container__main">
        <h2 class="taking-care__title">
            Забота о пассажирах
        </h2>
        <p class="taking-care__subtitle">
            Мы уделяем особое внимание удобству и безопасности:
        </p>
        <div class="taking-care__blocks">
            <div class="taking-care__block">
                <span>Подготовка транспорта с учетом багажа, спортивного инвентаря и других особенностей поездки.</span>
            </div>
            <div class="taking-care__block">
                <span>При перевозке детей мы оформляем все необходимые разрешения в ГИБДД.</span>
            </div>
            <div class="taking-care__block">
                <span>Современные автобусы оснащены аудио- и видеоаппаратурой, USB-разъемами, системами климат-контроля.</span>
            </div>
        </div>
        <div class="taking-care__dots"></div>
    </div>
</section>

<script src="{{ url_for('static', filename='scripts/taking-care.js') }}"></script>