<section class="transport">
    <div class="container__main">
        <div class="transport__content">
            <div class="transport__content-left">
                <h3 class="transport__title">Транспорт под любые задачи</h3>
                <span class="transport__subtitle">В вашем распоряжении автомобили различной вместимости — от 17-местного  до   автобуса на 53 человека. Наш транспорт заказывают  для:</span>
                <span class="transport__text">сотрудников предприятий, экскурсионных групп школьников, артистов, спортсменов, гостей на свадьбы, юбилеи и пр.</span>
            </div>
            <div class="transport__content-right">
                <div>
                    <section class="mobile-transport img-transport1"></section>
                    <section class="mobile-transport img-transport3"></section>
                    <img class="mobile-del" src="{{ url_for('static', filename='images/about-us/transport3.webp') }}" alt="logo">
                    <img class="mobile-del" src="{{ url_for('static', filename='images/about-us/transport1.webp') }}" alt="logo">
                </div>
                <section class="img-transport2"></section>
                <img class="mobile-del" src="{{ url_for('static', filename='images/about-us/transport2.webp') }}" alt="logo">
            </div>
        </div>
    </div>
</section>