<div style="margin-bottom: 50px;" class="projects" id="projects">
    <span class="projects__running-line-vertical projects__running-line-vertical-left"></span>
    <span class="projects__running-line-vertical projects__running-line-vertical-right"></span>


    <div class="projects__block">
        <div></div>
        <div style="opacity: 1;" class="middle-line">
            <div class="running-line"></div>
        </div>
        <div></div>
    </div>
    <div style="display: none;" class="projects__block">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>