<section class="swiper reviews">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide reviews__item">
      <div class="reviews__item--header">
        <img src="{{ url_for('static', filename='images/reviews/review-1.webp') }}" alt="review">
        {% include 'components/icons/highlights/img3.html' %}
      </div>
      <h4>Peter Hoffmann</h4>
      <p>
        Die Zusammenarbeit mit dieser Agentur war ein absoluter Erfolg. Ihr Team hat unsere Erwartungen übertroffen und
        eine maßgeschneiderte Softwarelösung entwickelt, die unsere Geschäftsprozesse erheblich verbessert hat. Ich kann
        sie nur empfehlen!
      </p>
    </div>
    <div class="swiper-slide reviews__item">
      <div class="reviews__item--header">
        <img src="{{ url_for('static', filename='images/reviews/review-2.webp') }}" alt="review">
        {% include 'components/icons/highlights/img2.html' %}
      </div>
      <h4>Julia Müller</h4>
      <p>
        Die Agentur hat ein komplexes Projekt für uns realisiert und dabei außergewöhnliche Leistungen erbracht. Ihre
        Fähigkeit, auf unsere speziellen Bedürfnisse einzugehen, hat den gesamten Prozess reibungslos gemacht. Wir
        freuen uns auf zukünftige Projekte!
      </p>
    </div>
    <div class="swiper-slide reviews__item">
      <div class="reviews__item--header">
        <img src="{{ url_for('static', filename='images/reviews/review-3.webp') }}" alt="review">
        {% include 'components/icons/highlights/img1.html' %}
      </div>
      <h4>Peter Hoffmann</h4>
      <p>
        Die Zusammenarbeit mit dieser Agentur war ein absoluter Erfolg. Ihr Team hat unsere Erwartungen übertroffen und
        eine maßgeschneiderte Softwarelösung entwickelt, die unsere Geschäftsprozesse erheblich verbessert hat. Ich kann
        sie nur empfehlen!
      </p>
    </div>
    <div class="swiper-slide reviews__item">
      <div class="reviews__item--header">
        <img src="{{ url_for('static', filename='images/reviews/review-4.webp') }}" alt="review">
        {% include 'components/icons/highlights/img2.html' %}
      </div>
      <h4>Anna Schmitt</h4>
      <p>
        Dank der professionellen und kreativen Herangehensweise der Agentur konnten wir unser Projekt pünktlich und im
        Budgetrahmen umsetzen. Ihre technische Expertise und ihr Engagement waren entscheidend für unseren Erfolg.
      </p>
    </div>
    <div class="swiper-slide reviews__item">
      <div class="reviews__item--header">
        <img src="{{ url_for('static', filename='images/reviews/review-5.webp') }}" alt="review">
        {% include 'components/icons/highlights/img3.html' %}
      </div>
      <h4>Maximilian Weber</h4>
      <p>
        Die Zusammenarbeit mit dieser Agentur war ein absoluter Erfolg. Ihr Team hat unsere Erwartungen übertroffen und
        eine maßgeschneiderte Softwarelösung entwickelt, die unsere Geschäftsprozesse erheblich verbessert hat. Ich kann
        sie nur empfehlen!
      </p>
    </div>
  </div>
</section>

