.light {
  --primary-background: #323032;
  --text-main: #D9EEFE;
  --text-logo: #078EFA;
  --header-icon-contact-fill: none;
  --header-icon-contact-stroke: #ffffff;
  --header-icon-social-fill: #ffffff;
  --header-icon-social-stroke: none;
  --header-icon-menu-fill: #ffffff;
  --header-border: rgba(255, 255, 255, 0.2);
}