.white {
  --primary-background: #fff;
  --text-main: #131313;
  --text-logo: var(--text-main);
  --header-icon-contact-fill: #7A7A7A;
  --header-icon-contact-stroke: #ffffff;
  --header-icon-social-fill: #7A7A7A;
  --header-icon-social-stroke: none;
  --header-icon-menu-fill: #7A7A7A;
  --header-border: #C1C1C1;
}