@use "fonts";

$primary-color: #004784;
$primary-color_2: #2478B5;
$primary-color_3: #0C5A9E;
$Inter-Regular: "Inter-Regular", sans-serif;
$Inter-SemiBold: "Inter-SemiBold", sans-serif;
$white-color: #ffffff;
$black-color: #232323;
$primary-green: #34C759;
$primary-red: #FF3B30;
$primary-orange: #E74F0E;
$primary-error: #ffe6e6;
$primary-background: #F1F1F1;
$primary-grey: #7B7B7B;
$back-color-opacity: rgba(35, 35, 35, 0.3);
$background-game: linear-gradient(153.31deg, #0F5FA4 11.31%, #004784 91.64%), linear-gradient(0deg, #2478B5, #2478B5);
$background-player: #8CB5D2