<div class="header__wrap">
    <header class="container__header">
        <div class="header">
            <nav class="header-left del1200">
                <button class="header-btn header__call">Заказать перевозку</button>
                <a href="/services/">Услуги</a>
                <a href="/cars/">Автопарк</a>
                <a href="/about-us/">О компании</a>
            </nav>
            <nav class="header-right del1200">
                <a class="header-right__call2">Доставка сотрудников </a>
                <a class="header-right__call">Обслуживание корпоративов</a>
                <a href="/children/">Перевозка детей</a>
                <a class="header-right__call3">Междугородние перевозки</a>
            </nav>
            {% include 'components/icons/sidebar.html' %}
        </div>
    </header>
</div>