<div class="message__background">
  <div class="message">
    <img src="{{ url_for('static', filename='images/message.svg/') }}" alt="">
  </div>
  <div class="message__block">
    <div class="message__block__header">
      <img src="{{ url_for('static', filename='images/logo.svg/') }}" alt="logo">
      <span>
                СИБАЛЯСКАТРЕВЕЛ
            </span>
    </div>
    <p>
      У вас есть вопросы? Свяжитесь с нами удобным
      для вас способом
    </p>
    <div class="message__block__content">
      <a href="https://t.me/+79139052370" target="_blank">
        <img src="{{ url_for('static', filename='images/index/main/telegram.svg') }}" alt="">
        <span>Telegram</span>
      </a>
      <a href="mailto:info@sibalaskatravel.ru">
        <img src="{{ url_for('static', filename='images/index/main/mail.svg/') }}" alt="">
        <span>info@sibalaskatravel.ru</span>
      </a>
      <a href="https://wa.me/79139052370" target="_blank">
        <img src="{{ url_for('static', filename='images/index/main/whatsapp.svg/') }}" alt="">
        <span>WhatsApp</span>
      </a>
      <div class="message__call">
        <img style="width: 20px; height: 20px;" src="{{ url_for('static', filename='images/index/main/phone.svg/') }}" alt="">
        <span>Обратный звонок</span>
      </div>
    </div>
  </div>
  <div class="message__wrap"></div>
</div>