@import "./components/fonts.css";

$Inter: "Inter";
$Anek-Devanagari: "Anek Devanagari";
$primary-background: #FBF9FF;
$primary-white: #ffffff;
$primary-purple: #4805D8;
$primary-black: #232323;
$primary-radius: 15px;
$primary-radius20: 20px;
$primary-radius-mobile: 8px;
$background-task: rgba(216, 215, 255, 0.25);
$background-task-hover: rgba(216, 215, 255, 0.5);

