 <section class="documents main-container">
        <div class="documents__title">
            <span>IMPRESSUM</span>
        </div>

        <!-- Первый info-block -->
        <div class="info-block">
            <div class="tool-panel blue-color">
                <span class="icons"></span>
                <span class="icons"></span>
                <span class="icons"></span>
                <span class="icons"></span>
            </div>
            <div class="info-block__content">
                <div class="code-container">
                    <div class="line-numbers"></div>
                    <div class="code-lines">
                        <div class="code-line orange-color main-words">&lt;Adresse &amp; Contact&gt;</div>
                        <div class="code-line internal">Codezilla IT-Consulting</div>
                        <div class="code-line internal">Kesselbergweg 4,</div>
                        <div class="code-line internal">52385 Nideggen</div>
                        <div class="code-line internal">T: <a href="tel:+4924278083900">+49 2427 8083900</a></div>
                        <div class="code-line internal">M: <a href="mailto:info@codezilla.consulting">info@codezilla.consulting</a></div>
                        <div class="code-line orange-color main-words">&lt;/&gt;</div>
                        <div class="code-line orange-color main-words">&lt;Vertreten durch&gt;</div>
                        <div class="code-line internal">David Enns</div>
                        <div class="code-line internal">Tomas Schmidt</div>
                        <div class="code-line orange-color main-words">&lt;/&gt;</div>
                        <div class="code-line orange-color main-words">&lt;Registereintrag&gt;</div>
                        <div class="code-line internal">Eintragung im Handelsregister</div>
                        <div class="code-line internal">Registergericht: Düren</div>
                        <div class="code-line internal">Registernummer: HRB 8223</div>
                        <div class="code-line internal">Ust-IdNr.: DE327527735</div>
                        <div class="code-line orange-color main-words">&lt;/&gt;</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Второй info-block -->
        <div class="info-block">
            <div class="tool-panel">
                <span class="icons blue-border"></span>
                <span class="icons blue-color"></span>
                <span class="icons blue-border"></span>
                <span class="icons blue-close"></span>
            </div>
            <div class="info-block__content">
                <div class="code-container">
                    <div class="line-numbers"></div>
                    <div class="code-lines">
                        <div class="code-line main-words">&lt;Urheberrecht&gt;</div>
                        <div class="code-line">Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten</div>
                        <div class="code-line">unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung,</div>
                        <div class="code-line">Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes</div>
                        <div class="code-line">bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers.</div>
                        <div class="code-line">Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen</div>
                        <div class="code-line">Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt</div>
                        <div class="code-line">wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte</div>
                        <div class="code-line">Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine</div>
                        <div class="code-line">Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden</div>
                        <div class="code-line">Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte</div>
                        <div class="code-line">umgehend entfernen.</div>
                        <div class="code-line main-words">&lt;/&gt;</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Третий info-block -->
        <div class="info-block">
            <div class="tool-panel">
                <span class="icons blue-border"></span>
                <span class="icons blue-color"></span>
                <span class="icons blue-border"></span>
                <span class="icons blue-close"></span>
            </div>
            <div class="info-block__content">
                <div class="code-container">
                    <div class="line-numbers"></div>
                    <div class="code-lines">
                        <div class="code-line main-words">&lt;Google Analytics&gt;</div>
                        <div class="code-line">Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc.</div>
                        <div class="code-line">(“Google“). Google Analytics verwendet sog. “Cookies“, Textdateien, die auf Ihrem</div>
                        <div class="code-line">Computer gespeichert werden und die eine Analyse der Benutzung der Website</div>
                        <div class="code-line">durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre</div>
                        <div class="code-line">Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von</div>
                        <div class="code-line">Google in den USA übertragen und dort gespeichert. Google wird diese Informationen</div>
                        <div class="code-line">benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die</div>
                        <div class="code-line">Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit</div>
                        <div class="code-line">der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu</div>
                        <div class="code-line">erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte</div>
                        <div class="code-line">übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im</div>
                        <div class="code-line">Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit</div>
                        <div class="code-line">anderen Daten der Google in Verbindung bringen. Sie können die Installation der</div>
                        <div class="code-line">Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern;</div>
                        <div class="code-line">wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht</div>
                        <div class="code-line">sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die</div>
                        <div class="code-line">Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen</div>
                        <div class="code-line">Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor</div>
                        <div class="code-line">benannten Zweck einverstanden.</div>
                        <div class="code-line main-words">&lt;/&gt;</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Четвёртый info-block -->
        <div class="info-block">
            <div class="tool-panel">
                <span class="icons blue-border"></span>
                <span class="icons blue-color"></span>
                <span class="icons blue-border"></span>
                <span class="icons blue-close"></span>
            </div>
            <div class="info-block__content">
                <div class="code-container">
                    <div class="line-numbers"></div>
                    <div class="code-lines">
                        <div class="code-line main-words">&lt;Google Adsense&gt;</div>
                        <div class="code-line">Diese Website benutzt Google Adsense, einen Webanzeigendienst der Google Inc.,</div>
                        <div class="code-line">USA (“Google“). Google Adsense verwendet sog. “Cookies“ (Textdateien), die auf</div>
                        <div class="code-line">Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der</div>
                        <div class="code-line">Website durch Sie ermöglicht. Google Adsense verwendet auch sog. “Web Beacons“</div>
                        <div class="code-line">(kleine unsichtbare Grafiken) zur Sammlung von Informationen. Durch die</div>
                        <div class="code-line">Verwendung des Web Beacons können einfache Aktionen wie der Besucherverkehr</div>
                        <div class="code-line">auf der Webseite aufgezeichnet und gesammelt werden. Die durch den Cookie und/</div>
                        <div class="code-line">oder Web Beacon erzeugten Informationen über Ihre Benutzung dieser Website</div>
                        <div class="code-line">(einschließlich Ihrer IP-Adresse) werden an einen Server von Google in den USA</div>
                        <div class="code-line">übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre</div>
                        <div class="code-line">Nutzung der Website im Hinblick auf die Anzeigen auszuwerten, um Reports über die</div>
                        <div class="code-line">Websiteaktivitäten und Anzeigen für die Websitebetreiber zusammenzustellen und</div>
                        <div class="code-line">um weitere mit der Websitenutzung und der Internetnutzung verbundene</div>
                        <div class="code-line">Dienstleistungen zu erbringen. Auch wird Google diese Informationen</div>
                        <div class="code-line">gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder</div>
                        <div class="code-line">soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem</div>
                        <div class="code-line">Fall Ihre IP-Adresse mit anderen Daten der Google in Verbindung bringen. Das</div>
                        <div class="code-line">Speichern von Cookies auf Ihrer Festplatte und die Anzeige von Web Beacons können</div>
                        <div class="code-line">Sie verhindern, indem Sie in Ihren Browser-Einstellungen “keine Cookies akzeptieren“</div>
                        <div class="code-line">wählen (Im MS Internet-Explorer unter “Extras > Internetoptionen > Datenschutz ></div>
                        <div class="code-line">Einstellung“; im Firefox unter “Extras > Einstellungen > Datenschutz > Cookies“); wir</div>
                        <div class="code-line">weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche</div>
                        <div class="code-line">Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser</div>
                        <div class="code-line">Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch</div>
                        <div class="code-line">Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten</div>
                        <div class="code-line">Zweck einverstanden.</div>
                        <div class="code-line main-words">&lt;/&gt;</div>
                    </div>
                </div>
            </div>
        </div>
    </section>