@import "./components/fonts.css";

$Sergoe_UI: "Sergoe UI";
$Play-Bold: "Play", serif;
$default-green: #6DAA2C;
$default-white: #FFFFFF;
$default-yellow: #FFBB1C;
$default-black: #232323;
$default-black-opacity: rgba(35, 35, 35, 0.6);
$background-map: #F9FCF7;
$background-white: #F5F9FB;
$default-a: #007AFF;