<section class="notice container">
    <div class="notice-title">Datenschutz</div>
    <div class="notice-content">
        <div class="notice-text_block">
            <p>Datenschutzerklärung</p>
            <div class="notice-text_block-description">
                Der Schutz Ihrer persönlichen Daten ist uns sehr wichtig. Im Folgenden informieren wir Sie über die
                Verarbeitung Ihrer <br> personenbezogenen Daten bei der Nutzung unserer Webseite und Dienstleistungen.
                <br><br>

                <p>1. Verantwortlicher</p>
                Verantwortlich für die Verarbeitung Ihrer personenbezogenen Daten im Sinne der
                Datenschutz-Grundverordnung (DSGVO) ist: <br><br>

                Florian Cretulescu <br>
                Mörfelder Landstraße 64 <br>
                60598 Frankfurt am Main <br>
                Telefon: <a style="display: contents;" href="tel:+49173741801">+49 (0) 173/ 741801</a> <br>
                E-Mail: <a style="display: contents;" href="mailto:info(at)solar-best.de">info(at)solar-best.de</a> <br><br>

                <p>2. Erhebung und Verarbeitung personenbezogener Daten</p>
                Wir erheben und verarbeiten personenbezogene Daten, wenn Sie unsere Webseite besuchen oder unser
                Kontaktformular ausfüllen. Zu den erhobenen Daten gehören: <br><br>

                Name <br>
                E-Mail-Adresse <br>
                Telefonnummer <br>
                Adresse (falls angegeben) <br>
                Angaben zu Ihrem Solarprojekt <br>
                Zwecke der Datenverarbeitung: <br><br>

                Zur Bearbeitung Ihrer Anfrage und Kontaktaufnahme bezüglich Solaranlagen. <br>
                Um Ihnen Informationen zu unseren Produkten und Dienstleistungen zukommen zu lassen. <br>
                Weitergabe an Dritte: Ihre Daten können, mit Ihrer Einwilligung, an spezialisierte Partnerunternehmen
                (z. B. Installateure von <br> Solaranlagen, Solartechnik-Unternehmen) weitergegeben werden, um eine direkte
                Beratung und Angebotserstellung zu ermöglichen. Diese Dritten verwenden Ihre Daten ausschließlich zu
                diesen Zwecken. <br>
                Verkauf von Leads: Ihre Daten können außerdem, mit Ihrer Einwilligung, als Leads an Drittunternehmen
                verkauft werden, die ähnliche Dienstleistungen anbieten und Sie zu Ihrer Anfrage kontaktieren können.
                <br><br>

                <p>3. Rechtsgrundlage der Datenverarbeitung</p>
                Die Verarbeitung Ihrer personenbezogenen Daten erfolgt auf Basis Ihrer Einwilligung gemäß Art. 6 Abs. 1
                lit. a DSGVO, die Sie durch das Ausfüllen des Formulars und die Bestätigung der Einwilligung erteilen.
                <br><br>

                <p>4. Weitergabe der Daten an Dritte</p>
                Ihre personenbezogenen Daten werden, mit Ihrer ausdrücklichen Zustimmung, an ausgewählte
                Partnerunternehmen weitergegeben, um Ihnen maßgeschneiderte Angebote zu unterbreiten. Diese Unternehmen
                dürfen Ihre Daten ausschließlich zur Beratung über Solaranlagen und zur Erstellung von Angeboten
                verwenden. <br><br>

                In einigen Fällen können Ihre Daten auch als Lead an Drittunternehmen verkauft werden, die ähnliche
                Dienstleistungen anbieten. Sie werden nur dann weitergegeben, wenn Sie dieser Verarbeitung ausdrücklich
                zugestimmt haben. <br><br>

                <p>5. Speicherdauer</p>
                Ihre Daten werden so lange gespeichert, wie es zur Erfüllung der genannten Zwecke erforderlich ist oder
                bis Sie Ihre Einwilligung <br> widerrufen. Sobald die Daten nicht mehr benötigt werden oder Sie Ihre
                Einwilligung widerrufen, werden diese gelöscht, sofern keine <br> gesetzlichen Aufbewahrungspflichten dem
                entgegenstehen. <br><br>

                <p>6. Ihre Rechte</p>
                Sie haben das Recht: <br><br>

                Auskunft über Ihre bei uns gespeicherten personenbezogenen Daten zu verlangen (Art. 15 DSGVO), <br>
                die Berichtigung unrichtiger Daten zu verlangen (Art. 16 DSGVO), <br>
                die Löschung Ihrer Daten zu verlangen (Art. 17 DSGVO), <br>
                die Einschränkung der Verarbeitung zu verlangen (Art. 18 DSGVO), <br>
                der Verarbeitung Ihrer Daten zu widersprechen (Art. 21 DSGVO), <br>
                die Übertragung Ihrer Daten zu verlangen (Art. 20 DSGVO), <br>
                Ihre Einwilligung zur Datenverarbeitung jederzeit zu widerrufen (Art. 7 Abs. 3 DSGVO). <br>
                Zur Ausübung dieser Rechte wenden Sie sich bitte an: <br>
                E-Mail: <a style="display: contents;" href="mailto:info(at)solar-best.de">info(at)solar-best.de</a> <br>
                Telefon: <a style="display: contents;" href="tel:+49173741801">+49 (0) 173/ 741801</a> <br><br>

                <p>7. Widerruf der Einwilligung</p>
                Sie haben das Recht, Ihre Einwilligung zur Verarbeitung Ihrer personenbezogenen Daten jederzeit mit
                Wirkung für die Zukunft zu widerrufen. Der Widerruf beeinflusst nicht die Rechtmäßigkeit der bis zum
                Widerruf erfolgten Verarbeitung. Ihren Widerruf richten Sie bitte an: <br>
                E-Mail: <a style="display: contents;" href="mailto:info(at)solar-best.de">info(at)solar-best.de</a> <br><br>

                <p>8. Sicherheit Ihrer Daten</p>
                Ihre personenbezogenen Daten werden mittels SSL-Verschlüsselung übertragen und durch technische und
                organisatorische Maßnahmen vor unberechtigtem Zugriff geschützt. <br><br>

                <p id="cookiesYak">9. Verwendung von Cookies und Tracking-Technologien</p>
                Unsere Webseite verwendet Cookies und ähnliche Technologien, um die Benutzererfahrung zu verbessern und
                bestimmte Funktionen anzubieten. Cookies sind kleine Textdateien, die auf Ihrem Endgerät gespeichert
                werden und Informationen enthalten, um die Nutzung unserer Webseite effizienter zu gestalten. <br><br>

                Wir verwenden folgende Arten von Cookies: <br><br>

                Technisch notwendige Cookies: Diese sind erforderlich, um die grundlegenden Funktionen der Webseite
                sicherzustellen (z. B. für das Speichern Ihrer Datenschutzeinstellungen). <br><br>
                Analyse- und Statistik-Cookies: Diese helfen uns, das Nutzerverhalten auf unserer Webseite zu
                analysieren und die Leistung der Webseite zu verbessern. Hierbei setzen wir Technologien wie Google
                Analytics ein (sofern zutreffend). Die dabei erhobenen Daten werden in anonymisierter Form genutzt, um
                Berichte über die Webseitenaktivitäten zu erstellen. <br>
                Opt-out und Widerruf <br>
                Sie können die Verwendung von Cookies über die Einstellungen Ihres Browsers einschränken oder ganz
                verhindern. Bereits gesetzte Cookies können Sie jederzeit in den Einstellungen Ihres Browsers löschen.
                Bitte beachten Sie, dass die Deaktivierung von Cookies die Funktionalität unserer Webseite einschränken
                kann. <br><br>

                Für Analyse- und Statistik-Cookies holen wir Ihre Einwilligung über unser Cookie-Banner ein, das beim
                ersten Besuch der Webseite erscheint. Diese Einwilligung können Sie jederzeit in den
                Cookie-Einstellungen auf unserer Webseite widerrufen. <br><br>

                <p>10. Änderungen der Datenschutzerklärung</p>
                Wir behalten uns das Recht vor, diese Datenschutzerklärung bei Bedarf zu ändern, um neuen rechtlichen
                Anforderungen oder technischen Änderungen gerecht zu werden. Die jeweils aktuelle Version finden Sie
                immer auf unserer Webseite.
            </div>
        </div>
    </div>
</section>