<svg class="ai" width="311" height="187" viewBox="0 0 311 187" preserveAspectRatio="xMidYMid" fill="none"
     xmlns="http://www.w3.org/2000/svg">
    <path d="M194.579 38.1394L154.935 160H123L177.16 13H197.482L194.579 38.1394ZM227.515 160L187.771 38.1394L184.568 13H205.09L259.55 160H227.515ZM225.713 105.279V129.005H148.728V105.279H225.713Z"
          fill="url(#paint0_linear_334_950)" fill-opacity="0.4"></path>
    <path d="M305 13V160H275.067V13H305Z" fill="url(#paint1_linear_334_950)" fill-opacity="0.4"></path>
    <g id="default" class="ai__default" filter="url(#filter0_ddddd_334_944)">
        <path d="M161 142L155 160H123L177 13H188M305 107.5V160H275V137.5" stroke="#078EFA" stroke-width="2"></path>
    </g>
    <g id="hover" class="ai__hover" filter="url(#filter0_ddddd_334_950)">
        <path d="M155 160L161 142L165 129H217.5L227.5 160H259.5L205 13H188H177L123 160H155Z" stroke="#078EFA"
              stroke-width="2"></path>
        <path d="M305 160V107.5V13H275V137.5V160H305Z" stroke="#078EFA" stroke-width="2"></path>
    </g>

    <defs>
        <filter id="filter0_ddddd_334_950" x="0.567383" y="0" width="310.433" height="215" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"></feColorMatrix>
            <feOffset dx="-4" dy="1"></feOffset>
            <feGaussianBlur stdDeviation="4.5"></feGaussianBlur>
            <feColorMatrix type="matrix" values="0 0 0 0 0.0196078 0 0 0 0 0.376471 0 0 0 0 0.662745 0 0 0 0.59 0"></feColorMatrix>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_334_950"></feBlend>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"></feColorMatrix>
            <feOffset dx="-15" dy="4"></feOffset>
            <feGaussianBlur stdDeviation="8"></feGaussianBlur>
            <feColorMatrix type="matrix" values="0 0 0 0 0.0196078 0 0 0 0 0.376471 0 0 0 0 0.662745 0 0 0 0.54 0"></feColorMatrix>
            <feBlend mode="normal" in2="effect1_dropShadow_334_950" result="effect2_dropShadow_334_950"></feBlend>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"></feColorMatrix>
            <feOffset dx="-34" dy="10"></feOffset>
            <feGaussianBlur stdDeviation="10.5"></feGaussianBlur>
            <feColorMatrix type="matrix" values="0 0 0 0 0.0196078 0 0 0 0 0.376471 0 0 0 0 0.662745 0 0 0 0.4 0"></feColorMatrix>
            <feBlend mode="normal" in2="effect2_dropShadow_334_950" result="effect3_dropShadow_334_950"></feBlend>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"></feColorMatrix>
            <feOffset dx="-60" dy="17"></feOffset>
            <feGaussianBlur stdDeviation="12.5"></feGaussianBlur>
            <feColorMatrix type="matrix" values="0 0 0 0 0.0196078 0 0 0 0 0.376471 0 0 0 0 0.662745 0 0 0 0.26 0"></feColorMatrix>
            <feBlend mode="normal" in2="effect3_dropShadow_334_950" result="effect4_dropShadow_334_950"></feBlend>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"></feColorMatrix>
            <feOffset dx="-94" dy="27"></feOffset>
            <feGaussianBlur stdDeviation="13.5"></feGaussianBlur>
            <feColorMatrix type="matrix" values="0 0 0 0 0.0196078 0 0 0 0 0.376471 0 0 0 0 0.662745 0 0 0 0.21 0"></feColorMatrix>
            <feBlend mode="normal" in2="effect4_dropShadow_334_950" result="effect5_dropShadow_334_950"></feBlend>
            <feBlend mode="normal" in="SourceGraphic" in2="effect5_dropShadow_334_950" result="shape"></feBlend>
        </filter>
        <linearGradient id="paint0_linear_334_950" x1="129.613" y1="6.63943" x2="328.96" y2="110.133"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.4"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0.2"></stop>
        </linearGradient>
        <linearGradient id="paint1_linear_334_950" x1="129.613" y1="6.63943" x2="328.96" y2="110.133"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.4"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0.2"></stop>
        </linearGradient>
    </defs>
</svg>
