<svg class="webshop" width="354" height="205" viewBox="0 0 354 205" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="window_browser" filter="url(#filter0_d_334_758)">
        <mask id="path-1-inside-1_334_758" fill="white">
            <rect x="24" y="24" width="314" height="190" rx="8"></rect>
        </mask>


        <rect x="24" y="24" width="314" height="190" rx="8" fill-opacity="0.05" fill="#000"
              shape-rendering="crispEdges"></rect>


        <rect x="24" y="24" width="314" height="190" rx="8" fill="url(#paint0_linear_334_758)" fill-opacity="0.4"
              shape-rendering="crispEdges"></rect>
        <rect class="path-1-inside-1_334_758" x="24" y="24" width="314" height="190" rx="8" stroke="#D9EEFE"
              stroke-opacity="0.6" stroke-width="22"
              shape-rendering="crispEdges" mask="url(#path-1-inside-1_334_758)"></rect>
        <g clip-path="url(#clip0_334_758)">
            <rect class="left78" x="55" y="71" width="76" height="78" rx="2" fill="url(#paint1_linear_334_758)"></rect>
            <rect class="left78" x="55" y="157" width="76" height="26" rx="2" fill="url(#paint2_linear_334_758)"></rect>
            <rect class="left78 white-c1" x="63" y="162" width="60" height="5" rx="1.21875" fill="#363636"></rect>
            <rect class="left78 white-c1" x="63" y="171" width="36" height="5" rx="1.21875" fill="#363636"></rect>
            <rect class="left78 white-c1" x="113" y="171" width="10" height="5" rx="1.21875" fill="#363636"></rect>
            <path class="left78"
                  d="M78 129V112L66 110L76.4469 90.0147C77.0999 88.7654 78.3623 87.9521 79.7699 87.8739L86.5 87.5C86.5 87.5 87.5 94 93.5 94C99.5 94 100 87.5 100 87.5L107.222 87.8801C108.634 87.9544 109.902 88.7686 110.557 90.0216L121 110L109.5 112.5V129H78Z"
                  fill="#4D4D4D"></path>


            <rect x="-33" y="71" width="76" height="78" rx="2" fill="url(#paint3_linear_334_758)"></rect>
            <rect x="-33" y="157" width="76" height="26" rx="2" fill="url(#paint4_linear_334_758)"></rect>
            <rect class="left78 white-c1" x="239" y="162" width="60" height="5" rx="1.21875" fill="#363636"></rect>
            <rect class="left78 white-c1" x="239" y="171" width="36" height="5" rx="1.21875" fill="#363636"></rect>
            <rect class="left78 white-c1" x="289" y="171" width="10" height="5" rx="1.21875" fill="#363636"></rect>
            <rect class="t-shirt white-c1" x="239" y="162" width="60" height="5" rx="1.21875" fill="#363636"></rect>
            <rect class="t-shirt white-c1" x="239" y="171" width="36" height="5" rx="1.21875" fill="#363636"></rect>
            <rect class="t-shirt white-c1" x="289" y="171" width="10" height="5" rx="1.21875" fill="#363636"></rect>
            <rect class="left78" x="231" y="71" width="76" height="78" rx="2" fill="url(#paint5_linear_334_758)"></rect>
            <rect class="left78" x="231" y="157" width="76" height="26" rx="2"
                  fill="url(#paint6_linear_334_758)"></rect>
            <path class="left78"
                  d="M254 129V112L242 110L252.447 90.0147C253.1 88.7654 254.362 87.9521 255.77 87.8739L262.5 87.5C262.5 87.5 263.5 94 269.5 94C275.5 94 276 87.5 276 87.5L283.222 87.8801C284.634 87.9544 285.902 88.7686 286.557 90.0216L297 110L285.5 112.5V129H254Z"
                  fill="#078EFA" stroke="#078EFA"></path>
            <path class="left78 white-c1"
                  d="M166 129V112L154 110L164.447 90.0147C165.1 88.7654 166.362 87.9521 167.77 87.8739L174.5 87.5C174.5 87.5 175.5 94 181.5 94C187.5 94 188 87.5 188 87.5L195.222 87.8801C196.634 87.9544 197.902 88.7686 198.557 90.0216L209 110L197.5 112.5V129H166Z"
                  fill="#1E1E1E"></path>


            <rect class="left78 white-c1" x="151" y="162" width="60" height="5" rx="1.21875" fill="#363636"></rect>
            <rect class="left78 white-c1" x="151" y="171" width="36" height="5" rx="1.21875" fill="#363636"></rect>
            <rect class="left78 white-c1" x="201" y="171" width="10" height="5" rx="1.21875" fill="#363636"></rect>
            <rect class="left78" x="143" y="71" width="76" height="78" rx="2" fill="url(#paint7_linear_334_758)"></rect>
            <rect class="left78" x="143" y="157" width="76" height="26" rx="2"
                  fill="url(#paint8_linear_334_758)"></rect>
            <path class="t-shirt white-c1"
                  d="M254 129V112L242 110L252.447 90.0147C253.1 88.7654 254.362 87.9521 255.77 87.8739L262.5 87.5C262.5 87.5 263.5 94 269.5 94C275.5 94 276 87.5 276 87.5L283.222 87.8801C284.634 87.9544 285.902 88.7686 286.557 90.0216L297 110L285.5 112.5V129H254Z"
                  fill="#4F4F4F" stroke="#4F4F4F"></path>
            <rect class="left78" x="319" y="71" width="76" height="78" rx="2" fill="url(#paint9_linear_334_758)"></rect>
            <rect class="left78" x="319" y="157" width="76" height="26" rx="2"
                  fill="url(#paint10_linear_334_758)"></rect>
            <rect x="319" y="71" width="76" height="78" rx="2" fill="url(#paint9_linear_334_758)"></rect>
            <rect x="319" y="157" width="76" height="26" rx="2" fill="url(#paint10_linear_334_758)"></rect>
        </g>
    </g>
    <g id="panel" filter="url(#filter1_d_334_758)">
        <rect x="107" y="37.7998" width="148.5" height="29.7" rx="8" fill="url(#paint11_linear_209_424)"
              shape-rendering="crispEdges"/>
        <rect id="panel_background" x="107" y="37.7998" width="148.5" height="29.7" rx="8" fill="url(#paint12_linear_209_424)"
              fill-opacity="1" style="fill: #3F3f3f"/>
        <path d="M154.456 45.5476L156.209 50.9732H161.882L157.293 54.3264L159.046 59.752L154.456 56.3988L149.867 59.752L151.62 54.3264L147.03 50.9732H152.703L154.456 45.5476Z"
              fill="#96A2AC"/>
        <path d="M175.278 45.5476L177.031 50.9732H182.704L178.115 54.3264L179.868 59.752L175.278 56.3988L170.689 59.752L172.442 54.3264L167.852 50.9732H173.525L175.278 45.5476Z"
              fill="#96A2AC"/>
        <path d="M196.1 45.5476L197.853 50.9732H203.526L198.936 54.3264L200.689 59.752L196.1 56.3988L191.51 59.752L193.263 54.3264L188.674 50.9732H194.347L196.1 45.5476Z"
              fill="#96A2AC"/>
        <path d="M237.744 45.5476L239.497 50.9732H245.17L240.58 54.3264L242.333 59.752L237.744 56.3988L233.154 59.752L234.907 54.3264L230.318 50.9732H235.99L237.744 45.5476Z"
              fill="#96A2AC"/>
        <path d="M216.922 45.5476L218.675 50.9732H224.348L219.758 54.3264L221.511 59.752L216.922 56.3988L212.332 59.752L214.085 54.3264L209.496 50.9732H215.169L216.922 45.5476Z"
              fill="#96A2AC"/>
        <circle opacity="0.4" cx="127.015" cy="52.6499" r="9.68478" fill="#96A2AC"/>
        <path opacity="0.4"
              d="M127.015 62.3345C129.584 62.3345 132.047 61.3141 133.863 59.4979C133.863 59.4979 132.826 55.0171 127.015 55.0171C121.205 55.0171 120.167 59.4979 120.167 59.4979C121.983 61.3141 124.447 62.3345 127.015 62.3345Z"
              fill="#D9EEFE"/>
        <circle opacity="0.4" cx="127.015" cy="50.4975" r="3.22826" fill="#D9EEFE"/>
    </g>
    <defs>
        <filter id="filter0_d_334_758" x="0" y="0" width="354" height="230" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                           result="hardAlpha"></feColorMatrix>
            <feOffset dx="-4" dy="-4"></feOffset>
            <feGaussianBlur stdDeviation="10"></feGaussianBlur>
            <feComposite in2="hardAlpha" operator="out"></feComposite>
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.05 0"></feColorMatrix>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_334_758"></feBlend>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_334_758" result="shape"></feBlend>
        </filter>

        <linearGradient id="paint0_linear_334_758" x1="35.4099" y1="15.7789" x2="330.382" y2="220.191"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.4"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0.2"></stop>
        </linearGradient>
        <linearGradient id="paint1_linear_334_758" x1="90.137" y1="58.6633" x2="105.025" y2="138.096"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.06"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient id="paint2_linear_334_758" x1="90.137" y1="152.888" x2="91.8426" y2="180.189"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.06"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient id="paint3_linear_334_758" x1="2.13698" y1="58.6633" x2="17.0247" y2="138.096"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.06"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient id="paint4_linear_334_758" x1="2.13698" y1="152.888" x2="3.84262" y2="180.189"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.06"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient id="paint5_linear_334_758" x1="266.137" y1="58.6633" x2="281.025" y2="138.096"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.06"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient id="paint6_linear_334_758" x1="266.137" y1="152.888" x2="267.843" y2="180.189"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.06"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient id="paint7_linear_334_758" x1="178.137" y1="58.6633" x2="193.025" y2="138.096"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.06"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient id="paint8_linear_334_758" x1="178.137" y1="152.888" x2="179.843" y2="180.189"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.06"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient id="paint9_linear_334_758" x1="354.137" y1="58.6633" x2="369.025" y2="138.096"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.06"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <linearGradient id="paint10_linear_334_758" x1="354.137" y1="152.888" x2="355.843" y2="180.189"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="white" stop-opacity="0.06"></stop>
            <stop offset="1" stop-color="white" stop-opacity="0"></stop>
        </linearGradient>
        <clipPath id="clip0_334_758">
            <rect width="292" height="112" fill="white" transform="translate(35 71)"></rect>
        </clipPath>
    </defs>
</svg>
