<section class="info-cars">
  <div class="info-cars__content container__main no-wrap-block">
    <h2 style="margin-bottom: 52px;" class="info-cars__title">
      Наши тарифы
    </h2>
    <div class="info-cars__cars">

      <div class="info-cars__car">
        <img src="{{ url_for('static', filename='images/cars/peugeot.webp') }}" alt="">
        <div class="info-cars__car__content">
          <p style="margin: 0;" class="info-cars__car__model">
            Peugeot Boxer
          </p>
          <div>
            <p>
              Вместимость пассажиров:
            </p>
            <span>
              16
            </span>
          </div>
          <p class="info-cars__car__subtitle border">
            Аренда по городу
          </p>
          <div>
            <p>
              1 час аренды:
            </p>
            <span>
                           от 1 800 ₽
                        </span>
          </div>
          <div>
            <p>
              Минимальное время аренды:
            </p>
            <span>
                            3 часа
                        </span>
          </div>
          <div>
            <p>
              Минимальное стоимость аренды:
            </p>
            <span>
                            7 500 ₽
                        </span>
          </div>
          <p class="info-cars__car__subtitle">
            Выезд за город
          </p>
          <div>
            <p>
              Стоимость ₽/км:
            </p>
            <span>
                            55 ₽
                        </span>
          </div>
          <div>
            <p>
              Ожиданиe клиента:
            </p>
            <span>
                            15 000 ₽/сут.
                        </span>
          </div>
          <p class="info-cars__car__subtitle">
            Трансфер
          </p>
          <div>
            <p>
              Поездкa в/из аэропорт "Толмачево":
            </p>
            <span>
                            7 500 ₽
                        </span>
          </div>
        </div>
      </div>
      <div class="info-cars__car">
        <img style="margin-top: -20px; margin-bottom: 50px;" src="{{ url_for('static', filename='images/cars/ford.webp') }}" alt="">
        <div class="info-cars__car__content">
          <p style="margin: 0;" class="info-cars__car__model">
            Ford Transit
          </p>
          <div>
            <p>
              Вместимость пассажиров:
            </p>
            <span>
              17
            </span>
          </div>
          <p class="info-cars__car__subtitle border">
            Аренда по городу
          </p>
          <div>
            <p>
              1 час аренды:
            </p>
            <span>
                            от 1 800 ₽
                        </span>
          </div>
          <div>
            <p>
              Минимальное время аренды:
            </p>
            <span>
                            3 часа
                        </span>
          </div>
          <div>
            <p>
              Минимальное стоимость аренды:
            </p>
            <span>
                            7 500 ₽
                        </span>
          </div>
          <p class="info-cars__car__subtitle">
            Выезд за город
          </p>
          <div>
            <p>
              Стоимость ₽/км:
            </p>
            <span>
                            55 ₽
                        </span>
          </div>
          <div>
            <p>
              Ожиданиe клиента:
            </p>
            <span>
                            15 000 ₽/сут.
                        </span>
          </div>
          <p class="info-cars__car__subtitle">
            Трансфер
          </p>
          <div>
            <p>
              Поездкa в/из аэропорт "Толмачево":
            </p>
            <span>
                            7 500 ₽
                        </span>
          </div>
        </div>
      </div>
      <div class="info-cars__car">
        <img src="{{ url_for('static', filename='images/cars/sprinter.webp') }}" alt="">
        <div class="info-cars__car__content">
          <p style="margin: 0;" class="info-cars__car__model">
            Mercedes Sprinter
          </p>
          <div>
            <p>
              Вместимость пассажиров:
            </p>
            <span>
              19
            </span>
          </div>
          <p class="info-cars__car__subtitle border">
            Аренда по городу
          </p>
          <div>
            <p>
              1 час аренды:
            </p>
            <span>
                            от 1 800 ₽
                        </span>
          </div>
          <div>
            <p>
              Минимальное время аренды:
            </p>
            <span>
                            3 часа
                        </span>
          </div>
          <div>
            <p>
              Минимальное стоимость аренды:
            </p>
            <span>
                            8 400 ₽
                        </span>
          </div>
          <p class="info-cars__car__subtitle">
            Выезд за город
          </p>
          <div>
            <p>
              Стоимость ₽/км:
            </p>
            <span>
                            60 ₽
                        </span>
          </div>
          <div>
            <p>
              Ожиданиe клиента:
            </p>
            <span>
                            15 000 ₽/сут.
                        </span>
          </div>
          <p class="info-cars__car__subtitle">
            Трансфер
          </p>
          <div>
            <p>
              Поездкa в/из аэропорт "Толмачево":
            </p>
            <span>
                            8 400 ₽
                        </span>
          </div>
        </div>
      </div>
      <div class="info-cars__car">
        <img style="margin-top: 30px; margin-bottom: 78px;" src="{{ url_for('static', filename='images/cars/yutong.webp') }}" alt="">
        <div class="info-cars__car__content">
          <p style="margin: 0;" class="info-cars__car__model">
            Yutong ZK6938HB9
          </p>
          <div>
            <p>
              Вместимость пассажиров:
            </p>
            <span>
              35-39
            </span>
          </div>
          <p class="info-cars__car__subtitle border">
            Аренда по городу
          </p>
          <div>
            <p>
              1 час аренды:
            </p>
            <span>
                            от 3 000 ₽
                        </span>
          </div>
          <div>
            <p>
              Минимальное время аренды:
            </p>
            <span>
                           3 часа + 1 час подача
                        </span>
          </div>
          <div>
            <p>
              Минимальное стоимость аренды:
            </p>
            <span>
                            14 000 ₽
                        </span>
          </div>
          <p class="info-cars__car__subtitle">
            Выезд за город
          </p>
          <div>
            <p>
              Стоимость ₽/км:
            </p>
            <span>
                            90 ₽
                        </span>
          </div>
          <div>
            <p>
              Ожиданиe клиента:
            </p>
            <span>
                            20 000 ₽/сут.
                        </span>
          </div>
          <p class="info-cars__car__subtitle">
            Трансфер
          </p>
          <div>
            <p>
              Поездкa в/из аэропорт "Толмачево":
            </p>
            <span>
                            14 000 ₽
                        </span>
          </div>
        </div>
      </div>
      <div class="info-cars__car">
        <img style="margin-top: 30px; margin-bottom: 78px;" src="{{ url_for('static', filename='images/cars/yutong.webp') }}" alt="">
        <div class="info-cars__car__content">
          <p style="margin: 0;" class="info-cars__car__model">
            Yutong ZK6122H9
          </p>
          <div>
            <p>
              Вместимость пассажиров:
            </p>
            <span>
              51-53
            </span>
          </div>
          <p class="info-cars__car__subtitle border">
            Аренда по городу
          </p>
          <div>
            <p>
              1 час аренды:
            </p>
            <span>
                            от 3 000 ₽
                        </span>
          </div>
          <div>
            <p>
              Минимальное время аренды:
            </p>
            <span>
                            3 часа + 1 час подача
                        </span>
          </div>
          <div>
            <p>
              Минимальное стоимость аренды:
            </p>
            <span>
                            15 200 ₽
                        </span>
          </div>
          <p class="info-cars__car__subtitle">
            Выезд за город
          </p>
          <div>
            <p>
              Стоимость ₽/км:
            </p>
            <span>
                            100 ₽
                        </span>
          </div>
          <div>
            <p>
              Ожиданиe клиента:
            </p>
            <span>
                            20 000 ₽/сут.
                        </span>
          </div>
          <p class="info-cars__car__subtitle">
            Трансфер
          </p>
          <div>
            <p>
              Поездкa в/из аэропорт "Толмачево":
            </p>
            <span>
                            15 200 ₽
                        </span>
          </div>
        </div>
      </div>
    </div>

    <div class="info-cars__dots"></div>
  </div>
</section>

<script src="{{ url_for('static', filename='scripts/header.js') }}"></script>
