<section class="info-cars">
    <div class="info-cars__content container__main">
        <h2 class="info-cars__title">
            Собственный автопарк
        </h2>
        <p class="info-cars__subtitle mobile-del">
            Наши автобусы и микроавтобусы оснащены всем необходимым для безопасной и удобной перевозки. Тщательные проверки, современное оборудование и продуманный дизайн обеспечивают комфорт и спокойствие на любом маршруте.
        </p>
        <div class="info-cars__cars">
            <div class="info-cars__car">
                <img src="{{ url_for('static', filename='images/cars/peugeot.webp') }}" alt="">
                <div class="info-cars__car__content">
                    <p class="info-cars__car__model">
                        Peugeot Boxer
                    </p>
                    <div>
                        <p>
                            Вместимость пассажиров:
                        </p>
                        <span>
                            16
                        </span>
                    </div>
                    <div>
                        <p>
                            Год выпуска:
                        </p>
                        <span>
                            2019-2023
                        </span>
                    </div>
                    <div>
                        <p>
                            Стоимость работы по городу:
                        </p>
                        <span>
                            от 1800 ₽/час
                        </span>
                    </div>
                    <div>
                        <p>
                            Минимальное время заказа:
                        </p>
                        <span>
                            3 часа
                        </span>
                    </div>
                    <div>
                        <p>
                            Междугородняя работа:
                        </p>
                        <span>
                            65 ₽/км
                        </span>
                    </div>
                    <div>
                        <p>
                            Поездкa в/из аэропорт "Толмачево":
                        </p>
                        <span>
                            9000 ₽
                        </span>
                    </div>
                    <div>
                        <p>
                            Ожиданиe клиента (междугородней):
                        </p>
                        <span>
                            15000 ₽/сут.
                        </span>
                    </div>
                </div>
            </div>
            <div class="info-cars__car">
                <img style="margin-bottom: 50px; margin-top: -20px;" src="{{ url_for('static', filename='images/cars/ford.webp') }}" alt="">
                <div class="info-cars__car__content">
                    <p class="info-cars__car__model">
                        Ford Transit
                    </p>
                    <div>
                        <p>
                            Вместимость пассажиров:
                        </p>
                        <span>
                            17
                        </span>
                    </div>
                    <div>
                        <p>
                            Год выпуска:
                        </p>
                        <span>
                            2019-2023
                        </span>
                    </div>
                    <div>
                        <p>
                            Стоимость работы по городу:
                        </p>
                        <span>
                            от 1800 ₽/час
                        </span>
                    </div>
                    <div>
                        <p>
                            Минимальное время заказа:
                        </p>
                        <span>
                            3 часа
                        </span>
                    </div>
                    <div>
                        <p>
                            Междугородняя работа:
                        </p>
                        <span>
                            65 ₽/км
                        </span>
                    </div>
                    <div>
                        <p>
                            Поездкa в/из аэропорт "Толмачево":
                        </p>
                        <span>
                            9000 ₽
                        </span>
                    </div>
                    <div>
                        <p>
                            Ожиданиe клиента (междугородней):
                        </p>
                        <span>
                            15000 ₽/сут.
                        </span>
                    </div>
                </div>
            </div>
            <div class="info-cars__car">
                <img src="{{ url_for('static', filename='images/cars/sprinter.webp') }}" alt="">
                <div class="info-cars__car__content">
                    <p class="info-cars__car__model">
                        Mercedes Sprinter
                    </p>
                    <div>
                        <p>
                            Вместимость пассажиров:
                        </p>
                        <span>
                            19
                        </span>
                    </div>
                    <div>
                        <p>
                            Год выпуска:
                        </p>
                        <span>
                            2019-2023
                        </span>
                    </div>
                    <div>
                        <p>
                            Стоимость работы по городу:
                        </p>
                        <span>
                            от 1800 ₽/час
                        </span>
                    </div>
                    <div>
                        <p>
                            Минимальное время заказа:
                        </p>
                        <span>
                            3 часа
                        </span>
                    </div>
                    <div>
                        <p>
                            Междугородняя работа:
                        </p>
                        <span>
                            65 ₽/км
                        </span>
                    </div>
                    <div>
                        <p>
                            Поездкa в/из аэропорт "Толмачево":
                        </p>
                        <span>
                            9000 ₽
                        </span>
                    </div>
                    <div>
                        <p>
                            Ожиданиe клиента (междугородней):
                        </p>
                        <span>
                            15000 ₽/сут.
                        </span>
                    </div>
                </div>
            </div>
            <div class="info-cars__car">
                <img style="margin-bottom: 63px;margin-top: 48px;" src="{{ url_for('static', filename='images/cars/yutong.webp') }}" alt="">
                <div class="info-cars__car__content">
                    <p class="info-cars__car__model">
                        Yutong ZK6938HB9 / Ютонг
                    </p>
                    <div>
                        <p>
                            Вместимость пассажиров:
                        </p>
                        <span>
                            35-39
                        </span>
                    </div>
                    <div>
                        <p>
                            Год выпуска:
                        </p>
                        <span>
                            2021-2023
                        </span>
                    </div>
                    <div>
                        <p>
                            Стоимость работы по городу:
                        </p>
                        <span>
                            от 3000 ₽/час
                        </span>
                    </div>
                    <div>
                        <p>
                            Минимальное время заказа:
                        </p>
                        <span>
                            3 часа + 1 час подача
                        </span>
                    </div>
                    <div>
                        <p>
                            Междугородняя работа:
                        </p>
                        <span>
                            95 ₽/км
                        </span>
                    </div>
                    <div>
                        <p>
                            Поездкa в/из аэропорт "Толмачево":
                        </p>
                        <span>
                            14000 ₽
                        </span>
                    </div>
                    <div>
                        <p>
                            Ожиданиe клиента (междугородней):
                        </p>
                        <span>
                            17500 ₽/сут.
                        </span>
                    </div>
                </div>
            </div>
            <div class="info-cars__car">
                <img style="margin-bottom: 63px;margin-top: 48px;" src="{{ url_for('static', filename='images/cars/yutong.webp') }}" alt="">
                <div class="info-cars__car__content">
                    <p class="info-cars__car__model">
                        Yutong ZK6938HB9 / Ютонг
                    </p>
                    <div>
                        <p>
                            Вместимость пассажиров:
                        </p>
                        <span>
                            51-53
                        </span>
                    </div>
                    <div>
                        <p>
                            Год выпуска:
                        </p>
                        <span>
                            2021-2023
                        </span>
                    </div>
                    <div>
                        <p>
                            Стоимость работы по городу:
                        </p>
                        <span>
                            от 3000 ₽/час
                        </span>
                    </div>
                    <div>
                        <p>
                            Минимальное время заказа:
                        </p>
                        <span>
                            3 часа + 1 час подача
                        </span>
                    </div>
                    <div>
                        <p>
                            Междугородняя работа:
                        </p>
                        <span>
                            95 ₽/км
                        </span>
                    </div>
                    <div>
                        <p>
                            Поездкa в/из аэропорт "Толмачево":
                        </p>
                        <span>
                            14000 ₽
                        </span>
                    </div>
                    <div>
                        <p>
                            Ожиданиe клиента (междугородней):
                        </p>
                        <span>
                            17500 ₽/сут.
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-cars__dots"></div>
    </div>
</section>

<script src="{{ url_for('static', filename='scripts/cars.js') }}"></script>
