<section class="documents main-container">
    <div class="documents__title">
        <span>datenschutz</span>
    </div>

    <div class="info-block">
        <div class="tool-panel blue-color">
            <span class="icons"></span>
            <span class="icons"></span>
            <span class="icons"></span>
            <span class="icons"></span>
        </div>
        <div class="info-block__content">
                <div class="code-container">
                    <div class="line-numbers"></div>
                    <div class="code-lines">
                        <div class="code-line main-words">&lt;Datenschutz&gt;</div>
                        <div class="code-line">Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener</div>
                        <div class="code-line">Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise</div>
                        <div class="code-line">Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich,</div>
                        <div class="code-line">stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung</div>
                        <div class="code-line">nicht an Dritte weitergegeben.</div>
                        <div class="code-line"></div>
                        <div class="code-line">Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der </div>
                        <div class="code-line">Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser</div>
                        <div class="code-line">Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</div>
                        <div class="code-line"></div>
                        <div class="code-line">Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten</div>
                        <div class="code-line">durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und</div>
                        <div class="code-line">Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der</div>
                        <div class="code-line">Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten</div>
                        <div class="code-line">Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.</div>
                        <div class="code-line main-words">&lt;/&gt;</div>
                        <div class="code-line"></div>
                    </div>
                </div>
            </div>
    </div>
</section>