<section class="highlights">
    <div class="highlights__title">
        <p>projekte<span> highlights</span></p>
    </div>
    <div class="highlights__description">
        Ideen in Lösungen verwandeln –
        mit zielgerichteter und effizienter Umsetzung.
    </div>
    <div class="highlights__block">
        <div class="highlights__block-left three">
            <p>Nösse Datentechnik</p>
            <div>
                <span>JobRouter</span>
                <span>PHP</span>
                <span>Javascript</span>
            </div>
            <div class="number">01</div>
        </div>
        <div class="highlights__block-right">
            {% include 'components/icons/highlights/img1.html' %}
        </div>

        <div class="anim_img">
            <img class="cursor" src="{{ url_for('static', filename='images/index/highlights/anim1.webp') }}" alt="">
        </div>
    </div>
    <div class="highlights__block">
        <div class="highlights__block-left four">
            <p>MEWA Textil-Service</p>
            <div>
                <span>Frontend</span>
                <span>WPF</span>
                <span>C#</span>
                <span>MSSQL</span>
            </div>
            <div class="number">02</div>
        </div>
        <div class="highlights__block-right">
            {% include 'components/icons/highlights/img2.html' %}
        </div>

        <div class="anim_img">
            <img class="cursor" src="{{ url_for('static', filename='images/index/highlights/anim2.webp') }}" alt="">
        </div>
    </div>
    <div class="highlights__block">
        <div class="highlights__block-left three">
            <p>Digital horizon</p>
            <div>
                <span>JobRouter</span>
                <span>PHP</span>
                <span>Javascript</span>
            </div>
            <div class="number">03</div>
        </div>

        <div class="highlights__block-right">
            {% include 'components/icons/highlights/img3.html' %}
        </div>

        <div class="anim_img">
            <img class="cursor" src="{{ url_for('static', filename='images/index/highlights/anim3.webp') }}" alt="">
        </div>
    </div>
    <div class="highlights__button">
        <a href="/projects/"><button>&lt;Alle ansehen&gt;</button></a>
    </div>
</section>