<section class="main">
    <div class="main__title">
        <p>Wir sind experten
        </p>
        <div class="anim">
            <p>für:</p>
            <div class="scroller">
            <span>
              Webentwicklung<br/>
              Mobile Apps<br/>
              ki<br/>
              Webshops<br/>
                white label
            </span>
            </div>
        </div>
        <p>Effiziente Softwareentwicklung und zuverlässige Teamunterstützung – genau nach Ihren Anforderungen.</p>
    </div>
</section>
