<section class="scroll-panel">
  <div class="scroll-panel__left">
    <p id="changeTitle">webentwicklung</p>
    <img id="changeImg" src="{{ url_for('static', filename='images/index/scroll-panel-0.svg') }}" alt="">
    <div class="angle" style="border:none;">
      <button>Buchen Sie jetzt einen
        unverbindlichen Call!
      </button>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="right-block-wrapper scroll-panel__right">
    <div class="top-mask scroll-panel__top-mask"></div>
    <div class="right-block scroll-panel__window">
      <div class="scroll-panel__window__block" data-index="0">
        <span>01</span>
        <p>
          Passt Ihre Webseite perfekt
          zu Ihrem Unternehmen?
        </p>
        <span>
          Wir erstellen individuelle Webseiten,
          die genau auf Ihre Bedürfnisse und Ziele
          zugeschnitten sind – von der Konzeption bis
          zum Hosting.
        </span>
      </div>
      <div class="scroll-panel__window__block" data-index="1">
        <span>02</span>
        <p>Ist Ihre App-Idee bereit für den Markt?</p>
        <span>
          Wir entwickeln Ihre App-Idee von Grund auf,
          um eine reibungslose und erfolgreiche Markteinführung
          zu garantieren.
        </span>
      </div>
      <div class="scroll-panel__window__block" data-index="2">
        <span>03</span>
        <p>
          Setzen Sie bereits auf
          ki-Automatisierung?
        </p>
        <span>
          Unsere KI-Lösungen optimieren Ihre Prozesse,
          verbessern Effizienz und bieten Ihnen einen
          klaren Wettbewerbsvorteil.
        </span>
      </div>
      <div class="scroll-panel__window__block" data-index="3">
        <span>04</span>
        <p>
          Ist Ihr Webshop optimal aufgestellt?
        </p>
        <span>
          Wir entwickeln und betreiben leistungsstarke
          Webshops, die nahtlos funktionieren und perfekt
          auf Ihre Anforderungen abgestimmt sind.
        </span>
      </div>
      <div class="scroll-panel__window__block" data-index="4">
        <span>05</span>
        <p>
          Brauchen Sie diskrete Unterstützung im Hintergrund?
        </p>
        <span>
          Unser White-Label-Service unterstützt Ihr Team diskret
          und zuverlässig, während Sie weiterhin im Mittelpunkt
          der Kundenbeziehung stehen.
        </span>
      </div>
      <div class="scroll-panel__window__block" data-index="5">
        <span>06</span>
        <p>
          Läuft Ihr Projektmanagement reibungslos?
        </p>
        <span>
          Wir bieten professionelles Projektmanagement,
          das alle Phasen abdeckt, um sicherzustellen,
          dass Ihre Projekte termingerecht und erfolgreich
          abgeschlossen werden.
        </span>
      </div>
    </div>
    <div class="bottom-mask scroll-panel__bottom-mask"></div>
  </div>
</section>